<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>NFV제어시스템</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">

		<style>
			#th {
				text-align:center;
				vertical-align: middle;
				font-size: 13px;
				background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
			}
			td{
				text-align:center;
			
			}
			#applabel {
				text-align: center;
			}
			
			@media ( max-width : 1700px) {
				#tables {
					width: 1200px;
					background-color: white;
				}
			}
			
			@media ( max-width : 1700px) {
				.liTab {
					width: 1200px !important;
				}
			}
			
			#layout {
				padding-left: 13px;
				padding-right: 13px;
				margin-top: 5px;
			}
		</style>
	</head>
	<body class="">
		<header id="header">
			<div id="logo-group">
				<div id="logo">
					<a href="/index">
					<img src="../static/lib/SmartAdmin/img/logo_l.png" alt="GiGA Office 서비스제어 플랫폼"></a>
				</div>
				<div class="ajax-dropdown">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>

					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>
					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>

				</div>
			</div>
			<div class="pull-right">
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/logout" title="로그아웃"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<div id="board-menu" class="btn-header pull-right">
					<span> <a href="/board/boardPage" title="게시판"><i class="fa fa-edit"></i></a> </span>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="j_spring_security_logout"><i class="fa fa-angle-down"></i>&nbsp;&nbsp; </a>
						<ul class="dropdown-menu">
							<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
								<a href="/user/userManage?seq=1">회원정보수정</a>
							</li>
							<li>
								<a href="/logout">로그아웃</a>
							</li>
							
						</ul>
					</li>
				</ul>
				<div id="board" class="btn-header transparent pull-right" style="margin-top: 14px; text-align: right; width: 250px;">
					<span> <strong> {{username}} </strong></span>
				</div>

			</div>
		</header>
		<aside id="left-panel">
			<nav>
				<ul>
					<li>
						<a href="/index" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
					</li>
					<li>
						<a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">인벤토리 관리</span></a>
						<ul id="lp_service_template">
							<!-- <li id="lp_inventory_template" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/template/templatePage">템플릿 관리</a></li>
							<li id="lp_inventory_appliance" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/appliance/appliancePage">Appliance 관리</a></li> -->
							<!-- <li id="lp_inventory_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_inventory_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li> -->
							<!-- <li id="lp_inventory_org" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/org/orgManage">국사 관리</a></li> -->
							<li id="lp_inventory_vlan" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/vlan/vlanManage">VLAN 관리</a></li>
							<!-- <li id="lp_inventory_ip" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/ip/ipManage">IP 관리</a></li> -->
							<li id="lp_inventory_switch" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/switch/switchManage">스위치 관리</a></li>
							<li id="lp_inventory_utm" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/utm/utmManage">UTM 관리</a></li>
							<li id="lp_inventory_utm_conn" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/utmConn/utmConnManage">UTM 연결 관리</a></li>
							<li id="lp_inventory_ha" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/ha/haManage">HA 그룹 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Provisioning"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">서비스 Provisioning</span></a>
						<ul id="lp_service_ul">
							<li id="lp_service_cust">
								<a href="/cust/custManage" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'">고객 등록</a>
							</li>
							<li id="lp_service_nfv">
								<a href="/provisioning/nfvProvisioning">UTM 개통 관리</a>
							</li>
							<li id="lp_service_list">
								<a href="/order/orderManage">개통 목록 관리</a>
							</li>
							<li id="lp_service_custServer" data-ng-show="0">
								<a href="/cust/custServer">고객사서버 관리</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Monitoring"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">서비스 Monitoring</span></a>
						<ul id="monitoring_ul">
							<li id="monitoring3" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'">
								<a href="#" onclick="winpop3()">서비스 상태 조회</a>
							</li>
							<li id="lp_inventory_action" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/action/actionManage">작업이력 관리</a></li>
						</ul>
					</li>
					<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
						<a href="#" title="User Management"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">사용자 관리</span></a>
						<ul id="lp_user_template">
							<li id="lp_user_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_user_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Board"><i class="fa fa-lg fa-fw fa-clipboard"></i> <span class="menu-item-parent">게시판</span></a>
						<ul id="board_ul">
							<li id="boardPage">
								<a href="/board/boardPage">Q & A</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<div id="main" data-ng-controller="AppService" data-ng-init="getAppList(1)" style="visibility: hidden; height:500;">

			<div id="ribbon">
				<span class="ribbon-button-alignment"><span id="refresh"
					class="btn btn-ribbon" rel="tooltip"
					data-placement="bottom"
					data-html="true"><i class="fa fa-refresh"></i></span></span>

				<ol class="breadcrumb">
					<li>인벤토리</li>
					<li>Appliance 관리</li>
				</ol>
				<span class="ribbon-button-alignment pull-right"> </span>
				<button type="button" data-ng-click="showAdd();" class="btn  bg-color-darken txt-color-white pull-right" style=" margin-top:5px; margin-right:10px;"><i id="addTooltip" style=" font-size: 15px;" class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="bottom" title="Template추가"></i></button>
				<button type="button" data-ng-click="showList();" class="btn  bg-color-darken txt-color-white pull-right" style="margin-top:5px; margin-left:5px; margin-right:20px;"><i id="listTooltip" style="font-size: 15px;" class="fa fa-list-ul" data-toggle="tooltip" data-placement="bottom" title="Template목록"></i></button>
			</div>


			<div id="content">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-sm-4">
						<h1 class="page-title txt-color-blueDark">

							<i class="fa-fw fa fa-home"></i> 인벤토리 <span>> 
								Appliance 관리</span>
						</h1>
					</div>
				</div>
			<section data-ng-show="applianceList" id="widget-grid" class="">
					<div class="row">
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="jarviswidget jarviswidget-color-greenDark"
								id="wid-list-utm" data-widget-colorbutton="false"
								data-widget-editbutton="false" data-widget-deletebutton="false">
								<header>
									<h2>
										<strong>Appliance 목록</strong>
									</h2>
								</header>
								<div>
									<div class="jarviswidget-editbox">
										<input class="form-control" type="text"> <span
											class="note"><i class="fa fa-check text-success"></i>
											Change title to update and save instantly!</span>

									</div>
									<div class="widget-body no-padding">
											<form class="widget-body-toolbar" role="form">
												<div class="form-inline">
													<label>생성시간</label>
													<div class="form-group" style="height:24px; width:150px">
														<div class="input-group">
															<input class="form-control" data-dateformat="yyyy-mm-dd"
																id="fromdate" data-ng-model="fromdate" type="text"
																placeholder="시작 날짜" style="height:24px;"> <span
																class="input-group-addon" style="height:24px;padding:3px;"><i class="fa fa-calendar"></i></span>
														</div>
													</div>

													<div class="form-group" style="height:24px; width:150px">
														<div class="input-group">
															<input class="form-control" data-dateformat="yyyy-mm-dd"
																id="todate" type="text" data-ng-model="todate"
																placeholder="종료 날짜"  style="height:24px;"> <span
																class="input-group-addon" style="height:24px;padding:3px;"><i class="fa fa-calendar"></i></span>
														</div>
													</div>

													<div class="form-group" style="min-width:170px; height:24px; margin-left: 10px;">
														<label>분류</label>
														<select class="form-control" style="height:24px;" data-ng-model="dtlcode" data-ng-change="changed()">
															<option value="0">전체</option>
															<option data-ng-repeat="a in dtl_Code" value="{[{a.dtlcode}]}">{[{a.dtlname}]}</option>
														</select>
													</div>

													<div class="form-group" style="height:24px; min-width:230px">
														<label>카탈로그명</label>
														<select class="form-control" style="height:24px; min-width:130px;" data-ng-model="searchNeCatNm">
															<option value="">전체</option>
															<option data-ng-repeat="a in dtlData" value=a.neclsseq>{[{a.description}]}</option>
														</select>
													</div>
												</div>
												<div class="form-inline" style="margin-top:10px;">
													<div class="form-group" style="height:24px; min-width:280px">
														<label>Application명</label>
														<input class="form-control" style="height:24px; width:180px;" data-ng-model="searchAppNm">
													</div>


													<div class="form-group" style="height:24px; min-width:280px">
														<label>서비스명</label>
														<input class="form-control" style="height:24px; width:180px;" data-ng-model="searchServiceNm">
													</div>
													<div class="form-group" style="height:24px; min-width:200px">
														<label>서비스 스펙</label>
														<select class="form-control" style="height:24px; width:120px;" data-ng-model="searchSpec">
															<option value="">전체</option>
															<option value="small">Small</option>
															<option value="medium">Medium</option>
															<option value="large">Large</option>
														</select>
													</div>
													<div class="form-group" style="height:24px;">
														<button style="height:24px; margin-right: 10px;margin-left: 10px;" type="button" class="btn btn-success" data-ng-click="getAppList(1)">
															<span class="hidden-mobile">검색</span>
														</button>
													</div>
												</div>
											</form>

										<div class="table-responsive" style="min-height:490px;">
											<table class="table table-striped table-hover"
												id="tbl_utm_list">
												<thead>
													<tr>
														<th id="th">선택</th>
														<th id="th">번호</th>
														<th id="th">분류</th>
														<th id="th">카탈로그명</th>
														<th id="th">Application명</th>
														<th id="th">Service명</th>
														<th id="th">Server Spec</th>
														<th id="th">생성시간</th>

													</tr>
												</thead>
												<tbody>
													<tr data-ng-repeat="i in necatList"
														data-ng-click="trClick(i.necatseq)" style="cursor: pointer;">
														<td data-ng-click="$event.stopPropagation()" style="cursor: default; border-right: 1px solid lightgray;"><input type="checkbox" id="checked{[{$index}]}"></td>
														<td id="necatseq{[{$index}]}">{[{i.necatseq}]}</td>
														<td data-ng-if="i.dtlcode=='H'">Hardware</td>
														<td data-ng-if="i.dtlcode=='S'">Software</td>
														<td>{[{i.description}]}</td>
														<td>{[{i.application_name}]}</td>
														<td>{[{i.service_name}]}</td>
														<td>{[{i.spec_vm}]}</td>
														<td>{[{i.reg_dttm}]}</td>

													</tr>
												</tbody>
											</table>

										</div>


									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-12 col-xs-12" style="text-align: center;">
								<ul class="pagination pagination-sm" style="margin-top:0px; ">
									<li data-ng-if="start==1"></li>
									<li data-ng-if="start!=1">
										<a data-ng-click="getAppList(start-1)" style="cursor: pointer;">&laquo;</a>
									</li>
									<li id="current{[{i.page}]}" data-ng-repeat="i in pages">
										<a data-ng-click="getAppList(i.page)" style="cursor: pointer;">{[{i.page}]}</a>
									</li>
									<li data-ng-if="end % 5 == 0 && pageNum>end">
										<a data-ng-click="getAppList(end+1)" style="cursor: pointer;">&raquo;</a></li>
									<li data-ng-if="end % 5 != 0 && end == pageNum"></li>
								</ul>
								<button type="button" class="btn btn-danger pull-right" data-ng-click="delBtn();" style="margin-left:10px;">삭제</button>
								<button type="button" class="btn btn-success pull-right" data-ng-click="showAdd();" >추가</button>
							</div>

						</article>

					</div>
				</section>

				<div data-ng-show="addAppliance" class="col-sm-12">
					<div class="row">
						<div class="col-sm-12 jarviswidget jarviswidget-color-blue">
							<header>
								<span class="widget-icon"> <i class="fa fa-cogs"></i>
								</span>
								<h2>서비스</h2>
							</header>
							<div class="col-sm-12 well " style="margin-bottom: 5px;">
								<div class="col-sm-12 form-horizontal smart-form">
									<div class="col-sm-6">
										<label class="label" id="layout">분류</label> <label
											class="select" id="layout">
											<select data-ng-model="dtlcode" data-ng-change="changed()" id="dtlcode">
													<option value="0">전체</option>
													<option data-ng-repeat="a in dtl_Code" value="{[{a.dtlcode}]}">{[{a.dtlname}]}</option>
											</select> <i style="margin-right: 13px;"></i>
										</label>
									</div>
									<div class="col-sm-6">
										<label class="label" id="layout">카탈로그</label> <label
											class="select" id="layout"><select
											data-ng-model="neclscode" id="neclscode">
												<option data-ng-show="dtlcode==a.dtlcode" data-ng-repeat="a in dtlData" data-ng-value=a.neclsseq>{[{a.description}]}</option>
										</select> <i style="margin-right: 13px;"></i>
										</label>
									</div>

								</div>
								<div class="col-sm-12 form-horizontal smart-form">

									<div class="col-sm-6">
										<label class="label" id="layout">Application명</label> <label
											class="input" id="layout"> <i
											class="icon-prepend fa fa-pencil" style="margin-left: 13px;"></i>
											<input type="text" data-ng-model="appNm">
										</label>
									</div>
									<div class="col-sm-6">
										<label class="label" id="layout">Service명</label> <label
											class="input" id="layout"> <i
											class="icon-prepend fa fa-pencil" style="margin-left: 13px;"></i>

											<input type="text" data-ng-model="serviceNm">
										</label>

									</div>

								</div>
								<div class="col-sm-12 form-horizontal smart-form">
									<div class="col-sm-6">
										<label class="label" id="layout">Server Spec</label> <label
											class="select" id="layout"> <select
											data-ng-model="serverSpec">

												<option value="small">Small</option>
												<option value="medium">Medium</option>
												<option value="large">Large</option>

										</select> <i style="margin-right: 13px;"></i>
										</label>

									</div>

									<div class="col-sm-6">
										<label class="label" id="layout">Running Image</label> <label
											class="select" id="layout">
											<select id="imageName"	data-ng-model="imageId"	data-ng-options="i.name for i in imgData.images">
												<option data-ng-repeat="i in imgData.images" data-ng-value=i.id>{[{i.name}]}</option>
											</select> <i style="margin-right: 13px;"></i>
										</label>
									</div>
								</div>
								<div class="col-sm-12 form-horizontal smart-form">
									<div class="col-sm-6">
										<label class="label" id="layout">Root Password</label> <label
											class="input" id="layout"> <i
											class="icon-prepend fa fa-key" style="margin-left: 13px;"></i>
											<input type="text" data-ng-model="rootPwd">
										</label>
									</div>

								</div>

								<div class="col-sm-12 form-horizontal smart-form">


									<form id="uploadForm" enctype="multipart/form-data" action="/soweb2/service/upload" method="POST">
										<div class="col-sm-6">
											<label class="label" id="layout">Service Icon</label>
											<div class="input input-file" id="layout">
												<span class="button" style="margin-right: 15px;"> <input
													type="file" id="file1" name="file" data-ng-model="file1"
													onchange="$('#path1').val(this.value.replace(/c:\\fakepath\\/i,''))"
													required="required" accept="image/*"> BROWSE
												</span> <i class="icon-prepend fa fa-search"
													style="margin-left: 13px;"></i> <input id="path1"
													type="text" placeholder="Include service icon" readonly>
											</div>
										</div>
										<div class="col-sm-6">
											<label class="label" id="layout">Service Image</label>
											<div class="input input-file" id="layout">
												<span class="button" style="margin-right: 15px;"> <input
													type="file" class="" id="file2" name="file"
													data-ng-model="file2"
													onchange="$('#path2').val(this.value.replace(/c:\\fakepath\\/i,''))"
													required="required" accept="image/*"> BROWSE
												</span> <i class="icon-prepend fa fa-search"
													style="margin-left: 13px;"></i> <input id="path2"
													type="text" placeholder="Include service image" readonly>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group" id="layout" style="margin-top: 15px ">
												<button class="btn btn-primary pull-right" id="btn-upload"
													type="submit" style="width: 80px; height: 25px; margin-right: 13px; margin-bottom: 15px;">
													<span class="widget-icon"> <i class="fa fa-upload"></i>
													</span>업로드
												</button>

												<div class="progress progress-striped pull-right active"
													style="width: 200px; margin-right: 20px; margin-top: 2px;">
													<div id="progress1" class="progress-bar" role="progressbar"
														style="width: 0%">0%</div>
												</div>
											</div>
										</div>

									</form>
								</div>


							</div>
						</div>
						<input type="hidden" data-ng-model="dtlcode">
						<button id="seviceAdd" type="button"
							class="btn btn-primary pull-right" data-ng-click="addService()"
							style="margin-bottom: 15px;">
							<span class="widget-icon"> <i class="fa fa-plus"></i>
							</span>서비스추가
						</button>

						<div class="col-sm-12 jarviswidget jarviswidget-color-blue">
							<header>
								<span class="widget-icon"> <i class="fa fa-edit"></i>
								</span>
								<h2>서비스아이템</h2>
							</header>
							<div class="col-sm-12 well"
								style="overflow: auto; height: 250px;">

								<ul class="liTab nav nav-tabs">
									<li data-ng-class="li" data-ng-repeat="d in service"><a
										href=#tab{[{cnt}]} data-toggle="tab" style="min-width: 80px;">{[{serviceNm}]}</a></li>
								</ul>

								<div class="tab-content">

									<div data-ng-class="tabPane" class="tab-pane fade"
										data-ng-repeat="d in service" id=tab{[{cnt}]}>

										<table id="tables"
											class="table table-responsive  table-bordered">
											<colgroup>
												<col width="10%">
												<col width="13%">
												<col width="10%">
												<col width="10%">
												<col width="7%">
												<col width="10%">
												<col width="7%">
												<col width="13%">
												<col width="7%">
												<col width="7%">
												<col width="7%">
											</colgroup>
											<thead>
												<tr>
													<th class="text-center">이름</th>
													<th class="text-center">GUI 표시명</th>
													<th class="text-center">기본값</th>
													<th class="text-center">Type</th>
													<th class="text-center">대상</th>
													<th class="text-center">Action</th>
													<th class="text-center">delimiter</th>
													<th class="text-center">URL/DIR</th>
													<th class="text-center">UI표시</th>
													<th class="text-center">Recipe</th>
													<th class="text-center">제어</th>
												</tr>
											</thead>
											<tbody>
												<tr data-ng-repeat="data in item">
													<td><input type="text" data-ng-model="data.name"
														class="form-control input-sm"></td>
													<td><input type="text" data-ng-model="data.display_name"
														class="form-control input-sm"></td>
													<td><input type="text" data-ng-model="data.default_value"
														class="form-control input-sm"></td>
													<td><select data-ng-model="data.type"
														class="form-control input-sm">
															<option>String</option>
															<option>Integer</option>

													</select></td>

													<td><select data-ng-model="data.target"
														class="form-control input-sm">
															<option>DB</option>
															<option>FILE</option>

													</select></td>
													<td><select data-ng-model="data.action"
														class="form-control input-sm">
															<option>Insert</option>
															<option>Update</option>

													</select></td>
													<td><select data-ng-model="data.delimiter"
														class="form-control input-sm">
															<option>=</option>
															<option>;</option>
															<option>+</option>
															<option>tab</option>
													</select></td>
													<td><input data-ng-model="data.dir" type="text"
														class="form-control input-sm"></td>
													<td><select data-ng-model="data.display_yn"
														class="form-control input-sm">
															<option>Y</option>
															<option>N</option>
													</select></td>
													<td>Recipe</td>
													<td><a data-ng-click="delItem($index)"
														class="btn btn-default" style="margin-left: 7px;">삭제</a></td>
												</tr>
											</tbody>
										</table>
										<a class="btn btn-primary" data-toggle="modal"
											data-target="#addAp"><span class="widget-icon"> <i
												class="fa fa-plus"></i>
										</span>속성추가</a>
									</div>
								</div>



							</div>

							<button data-ng-show="addNecatBtn" type="button" class="btn btn-primary pull-right"
								data-ng-click="appSubmit(1)" style="margin-top: 15px; margin-left:10px;">
								등록
							</button>
							<button data-ng-show="editNecatBtn" type="button" class="btn btn-primary pull-right"
								data-ng-click="appSubmit(2)" style="margin-top: 15px; margin-left:10px;">
								수정
							</button>
							<button type="button" class="btn btn-default pull-right" data-ng-click="showList()" style="margin-top: 15px;">목록</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="addAp" tabindex="-1" role="dialog"
				style="overflow: hidden;" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel"><b>Service Item</b></h4>
						</div>
						<div class="modal-body">
							<table class="table table-responsive  table-bordered ">
								<colgroup>
									<col width="10%">
									<col width="13%">
									<col width="9%">
									<col width="11%">
									<col width="9%">
									<col width="11%">
									<col width="7%">
									<col width="13%">
									<col width="7%">
								</colgroup>
								<thead>
									<tr>
										<th class="text-center">이름</th>
										<th class="text-center">GUI 표시명</th>
										<th class="text-center">기본값</th>
										<th class="text-center">Type</th>
										<th class="text-center">대상</th>
										<th class="text-center">Action</th>
										<th class="text-center">delimiter</th>
										<th class="text-center">URL/DIR</th>
										<th class="text-center">UI표시</th>


									</tr>
								</thead>
								<tbody>
									<tr>
										<td><input type="text" data-ng-model="name"
											class="form-control input-sm"></td>
										<td><input type="text" data-ng-model="display_name"
											class="form-control input-sm"></td>
										<td><input type="text" data-ng-model="default_value"
											class="form-control input-sm"></td>
										<td><select data-ng-model="type" class="form-control input-sm">
												<option>String</option>
												<option>Integer</option>
										</select></td>
										<td><select data-ng-model="target"
											class="form-control input-sm">
												<option>DB</option>
												<option>FILE</option>
										</select></td>
										<td><select data-ng-model="action"
											class="form-control input-sm">
												<option>Insert</option>
												<option>Update</option>
										</select></td>
										<td><select data-ng-model="delimiter"
											class="form-control input-sm">
												<option>=</option>
												<option>;</option>
												<option>+</option>
												<option>tab</option>
										</select></td>
										<td><input data-ng-model="url" type="text"
											class="form-control input-sm"></td>
										<td><select data-ng-model="display_yn"
											class="form-control input-sm">
												<option>Y</option>
												<option>N</option>
										</select></td>

									</tr>

								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								data-ng-click="addItem()" data-dismiss="modal">등록</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

		<script src="../static/lib/js/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/appliance.js"></script>
		<script>
			function winpop(){
				window.open("/monitor/nfvmonitoring","nfvmonitoring");
			}
			function winpop2(){
				window.open("/monitor/nfvmonitoringSecond","nfvmonitoringSecond");
			}
			function winpop3(){
				window.open("/monitor/nfvmonitoringThird","nfvmonitoringThird");
			}
			var username = "{{username}}";
		</script>
	</body>
</html>