<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>암복호화</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">
	</head>
	<body>
	<aside id="left-panel" style="top:0; height: 100%;">
	<nav>
			<ul>
				<li>
					<a href="#" title="Infra Memu"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Infra 관리</span></a>
					<ul id="infra_menu">
						<li id="infra"><a href="/">Openstack Infra 관리</a></li>
						<li id="crypt"><a href="/crypt">암복호화</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		</aside>
		<div id="main" role="main" data-ng-controller="cryptService" data-ng-init="init()" style="margin-left: 270px; margin-top: 15px;">
			<div class="form-group">
				<label style="margin-right: 10px;margin-left: 10px;">암호화</label>
				<button type="button" class="btn btn-primary" data-ng-click="encryptAccept()" data-ng-show="encrypt">암호화</button>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-change="encryptCommit()"
												placeholder="암호화할 값을 입력하세요" data-ng-model="encryptValue">
				<label style="margin-right: 10px;margin-left: 10px;">암호화 결과</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="암호화된 값" data-ng-model="encryptResult">
												<br/>
												<br/>
				<label style="margin-right: 10px;margin-left: 10px;">복호화</label>
				<button type="button" class="btn btn-primary" data-ng-click="decryptAccept()" data-ng-show="decrypt">복호화</button>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-change="decryptCommit()"
												placeholder="복호화할 암호를 입력하세요." data-ng-model="decryptValue">
				<label style="margin-right: 10px;margin-left: 10px;">복호화 결과</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="복호화된 값" data-ng-model="decryptResult">
			</div>
		</div>
		
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

		<script src="../static/lib/js/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/crypt.js"></script>
		<script>
		</script>
	</body>
</html>