<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Infra 정보 입력</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">
	</head>
	<body>
	<aside id="left-panel" style="top:0; height: 100%;">
		<nav>
			<ul>
				<li>
					<a href="#" title="Infra Memu"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Infra 관리</span></a>
					<ul id="infra_menu">
						<li id="infra"><a href="/">Openstack Infra 관리</a></li>
						<li id="crypt"><a href="/crypt">암복호화</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		</aside>
		<div id="main" role="main" data-ng-controller="infraService" data-ng-init="init()" style="margin-left: 270px; margin-top: 15px;">
			<label style="margin-right: 10px;margin-left: 10px;">국사</label>
				<select class="" style="width : 100px; height:24px;" data-ng-model="orgseq" data-ng-change="getList()">
				<option value="0">전체</option>
				<option data-ng-repeat="org in orgList" data-ng-value="org.orgseq"
						data-ng-selected="{[{org.orgseq == orgseq}]}">{[{org.orgname}]}</option>
			</select>
			<button type="button" class="btn btn-primary" data-ng-click="infraSubmit()" data-ng-show="submit">입력</button>
			<button type="button" class="btn btn-primary" data-ng-click="infraModify()" data-ng-show="modify">수정</button>
			<div class="form-group">
				<label style="margin-right: 10px;margin-left: 10px;">shared_networks</label>
				<label style="margin-right: 10px;margin-left: 10px;">uuid</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) ef47abc1-cafb-4234-9801-9daa49bed8a2" data-ng-model="sharedNetworkUuid">
												<br/>
												<br/>
				<label style="margin-right: 10px;margin-left: 10px;">openstack_connect</label>
				<label style="margin-right: 10px;margin-left: 10px;">token_url</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) http://10.0.0.102:5000/v2.0/tokens." data-ng-model="openstackConnectTokenUrl">
				<label style="margin-right: 10px;margin-left: 10px;">host</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 10.0.0.102" data-ng-model="openstackConnectHost">
				<label style="margin-right: 10px;margin-left: 10px;">horizon</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 211.224.204.160" data-ng-model="openstackConnectHorizon">
				<label style="margin-right: 10px;margin-left: 10px;">password</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) ohhberry3333" data-ng-model="openstackConnectPassword">
				<label style="margin-right: 10px;margin-left: 10px;">userid</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) admin" data-ng-model="openstackConnectUserid">
				<label style="margin-right: 10px;margin-left: 10px;">tenantid</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) admin" data-ng-model="openstackConnectTenantid">
												<br/>
												<br/>
				<label style="margin-right: 10px;margin-left: 10px;">openstack_db_connect</label>
				<label style="margin-right: 10px;margin-left: 10px;">database</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) nova" data-ng-model="openstackDbConnectDatabase">
				<label style="margin-right: 10px;margin-left: 10px;">host</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 10.0.0.72" data-ng-model="openstackDbConnectHost">
				<label style="margin-right: 10px;margin-left: 10px;">password</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) ohhberry3333" data-ng-model="openstackDbConnectPassword">
				<label style="margin-right: 10px;margin-left: 10px;">userid</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) root" data-ng-model="openstackDbConnectUserid">
				<label style="margin-right: 10px;margin-left: 10px;">port</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 3306" data-ng-model="openstackDbConnectPort">
												<br/>
												<br/>
				<label style="margin-right: 10px;margin-left: 10px;">host_list</label>
				<label style="margin-right: 10px;margin-left: 10px;">name</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) anode" data-ng-model="hostListName">
				<label style="margin-right: 10px;margin-left: 10px;">ip</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 10.0.0.102" data-ng-model="hostListIp">
				<label style="margin-right: 10px;margin-left: 10px;">port</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 22" data-ng-model="hostListPort">
				<label style="margin-right: 10px;margin-left: 10px;">id</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) root" data-ng-model="hostListId">
				<label style="margin-right: 10px;margin-left: 10px;">password</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) ohhberry3333" data-ng-model="hostListPassword">
												<br/>
												<br/>
				<label style="margin-right: 10px;margin-left: 10px;">mgmtvms</label>
				<label style="margin-right: 10px;margin-left: 10px;">name</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) gmgmt_vm" data-ng-model="mgmtvmsName">
				<label style="margin-right: 10px;margin-left: 10px;">endpoint</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) http://10.0.0.151:80" data-ng-model="mgmtvmsEndpoint">
				<label style="margin-right: 10px;margin-left: 10px;">host</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 10.0.0.151" data-ng-model="mgmtvmsHost">
				<label style="margin-right: 10px;margin-left: 10px;">id</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 7eb8bc8e-b7f7-46dc-a3ef-afc8950a9e91" data-ng-model="mgmtvmsId">
				<label style="margin-right: 10px;margin-left: 10px;">userid</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) root" data-ng-model="mgmtvmsUserid">
				<label style="margin-right: 10px;margin-left: 10px;">password</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) ohhberry3333" data-ng-model="mgmtvmsPassword">
				<label style="margin-right: 10px;margin-left: 10px;">availability_zone</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) daejeon-az" data-ng-model="mgmtvmsAvailabilityZone">
												<br/>
												<br/>
				<label style="margin-right: 10px;margin-left: 10px;">nfv_products</label>
				<label style="margin-right: 10px;margin-left: 10px;">name</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) utm" data-ng-model="nfvProductsName">
				<label style="margin-right: 10px;margin-left: 10px;">defaultconf</label>
				<label style="margin-right: 10px;margin-left: 10px;">availability_zone</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) daejeon-az" data-ng-model="nfvProductsDefaultconfAvailabilityZone">
				<label style="margin-right: 10px;margin-left: 10px;">flavorRef</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) 3" data-ng-model="nfvProductsDefaultconfFlavorRef">
				<label style="margin-right: 10px;margin-left: 10px;">imageRef</label>
				<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="ex) e5ee4f6f-43a7-4e29-94d5-cd93ad8986b7" data-ng-model="nfvProductsDefaultconfImageRef">
			</div>
		</div>
		
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

		<script src="../static/lib/js/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/infra.js"></script>
		<script>
		</script>
	</body>
</html>