<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>NFV제어시스템</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">
		
	</head>
	<body class="">

		<header id="header">
			<div id="logo-group">

				<div id="logo">

					<a href="/index">
					<img src="../static/lib/SmartAdmin/img/logo_l.png" alt="GiGA Office 서비스제어 플랫폼"></a>
				</div>

				<div class="ajax-dropdown">

					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>

					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>
					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>

				</div>
			</div>
			<div class="pull-right">
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/logout" title="로그아웃"><i class="fa fa-sign-out"></i></a> </span>
				</div>

				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<div id="board-menu" class="btn-header pull-right">
					<span> <a href="/board/boardPage" title="게시판"><i class="fa fa-edit"></i></a> </span>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="j_spring_security_logout"><i class="fa fa-angle-down"></i>&nbsp;&nbsp; </a>
						<ul class="dropdown-menu">
							<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
								<a href="/user/userManage?seq=1">회원정보수정</a>
							</li>
							<li>
								<a href="/logout">로그아웃</a>
							</li>
							
						</ul>
					</li>
				</ul>
				<div id="board" class="btn-header transparent pull-right" style="margin-top: 14px; text-align: right; width: 250px;">
					<span> <strong> {{username}} </strong></span>
				</div>

			</div>
		</header>
		<aside id="left-panel">
			<nav>
				<ul>
					<li>
						<a href="/index" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
					</li>
					<li>
						<a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">인벤토리 관리</span></a>
						<ul id="lp_service_template">
							<!-- <li id="lp_inventory_template" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1'"><a href="/template/templatePage">템플릿 관리</a></li>
							<li id="lp_inventory_appliance" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1'"><a href="/appliance/appliancePage">Appliance 관리</a></li> -->
							<!-- <li id="lp_inventory_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_inventory_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li> -->
							<!-- <li id="lp_inventory_org" data-ng-if="{{userauth}} == '0'"><a href="/org/orgManage">국사 관리</a></li> -->
							<li id="lp_inventory_vlan" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/vlan/vlanManage">VLAN 관리</a></li>
							<!-- <li id="lp_inventory_ip" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1'"><a href="/ip/ipManage">IP 관리</a></li> -->
							<li id="lp_inventory_switch" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/switch/switchManage">스위치 관리</a></li>
							<li id="lp_inventory_utm" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/utm/utmManage">UTM 관리</a></li>
							<li id="lp_inventory_utm_conn" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/utmConn/utmConnManage">UTM 연결 관리</a></li>
							<li id="lp_inventory_ha" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/ha/haManage">HA 그룹 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Provisioning"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">서비스 Provisioning</span></a>
						<ul id="lp_service_ul">
							<li id="lp_service_cust">
								<a href="/cust/custManage" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'">고객 등록</a>
							</li>
							<li id="lp_service_nfv">
								<a href="/provisioning/nfvProvisioning">UTM 개통 관리</a>
							</li>
							<li id="lp_service_list">
								<a href="/order/orderManage">개통 목록 관리</a>
							</li>							
							<li id="lp_service_custServer" data-ng-show="0">
								<a href="/cust/custServer">고객사서버 관리</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Monitoring"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">서비스 Monitoring</span></a>
						<ul id="monitoring_ul">
							<li id="monitoring" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'">
								<a href="#" onclick="winpop3()">서비스 상태 조회</a>
							</li>
							<li id="lp_inventory_action" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/action/actionManage">작업이력 관리</a></li>
						</ul>
					</li>
					<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
						<a href="#" title="User Management"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">사용자 관리</span></a>
						<ul id="lp_user_template">
							<li id="lp_user_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_user_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Board"><i class="fa fa-lg fa-fw fa-clipboard"></i> <span class="menu-item-parent">게시판</span></a>
						<ul id="board_ul">
							<li id="boardPage">
								<a href="/board/boardPage">Q & A</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<div id="main" role="main" data-ng-controller="orderService" data-ng-init="page(1)" style="visibility: hidden;">
			
			<div id="ribbon">
				<span class="ribbon-button-alignment"> <span id="refresh"
					class="btn btn-ribbon" rel="tooltip"
					data-placement="bottom"
					data-html="true"><i class="fa fa-refresh"></i></span>
				</span>
				
				<ol class="breadcrumb">
					<li>서비스 Provisioning</li>
					<li>개통 목록 관리</li>
				</ol>
				
				<span class="ribbon-button-alignment pull-right"></span>

			</div>
			
			<div id="content" >
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa-fw fa fa-home"></i> 서비스 Provisioning <span>> 개통 목록 관리</span>
						</h1>
					</div>
				</div>
				<section id="widget-grid" class="">
					<div class="row">
						<article  id="order" style="visibility: hidden;"
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="jarviswidget jarviswidget-color-greenDark"
								id="wid-list-utm" data-widget-colorbutton="false"
								data-widget-editbutton="false" data-widget-deletebutton="false">
								<header>
									<h2>
										<strong>개통 목록</strong>
									</h2>
								</header>
								<div>
									<div class="jarviswidget-editbox">
										<input class="form-control" type="text"> <span
											class="note"><i class="fa fa-check text-success"></i>
											Change title to update and save instantly!</span>

									</div>
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">

											<form class="form-inline" role="form">

												<div class="form-group" style="min-width:210px; height:24px;" data-ng-show="{{userauth}} == '0' || {{userauth}} == '99'">
													<label style="margin-right: 10px;margin-left: 10px;">국사</label>
													<select class="" style="width : 150px; height:24px;" data-ng-model="orgseq">
														<option value="0">전체</option>
														<option data-ng-repeat="org in orgList" data-ng-value="org.orgseq"
																data-ng-selected="{[{org.orgseq == orgseq}]}">{[{org.orgname}]}</option>
													</select>
												</div>

												<div class="form-group" style="height:24px; min-width:210px">
													<label>고객명</label>
													<input class="form-control" style="height:24px;" data-ng-model="searchUserNm">
												</div>

												<!-- <div class="form-group" style="height:24px; min-width:220px">
													<label>서비스명</label>
													<input class="form-control" style="height:24px;" data-ng-model="searchServiceNm">
												</div> -->

												<div class="form-group" style="height:24px; width: 370px">
													<label>조회일자</label>
													<div class="form-group" style="height:24px; width:150px">
														<div class="input-group">
															<input class="form-control" data-dateformat="yyyy-mm-dd"
																id="fromdate" data-ng-model="fromdate" type="text"
																placeholder="서비스 개시일" style="height:24px;"> <span
																class="input-group-addon" style="height:24px;padding:3px;"><i class="fa fa-calendar"></i></span>
														</div>
													</div>
	
													<div class="form-group" style="height:24px; width:150px">
														<div class="input-group">
															<input class="form-control" data-dateformat="yyyy-mm-dd"
																id="todate" type="text" data-ng-model="todate"
																placeholder="서비스 종료일"  style="height:24px;"> <span
																class="input-group-addon" style="height:24px;padding:3px;"><i class="fa fa-calendar"></i></span>
														</div>
													</div>
												</div>
												<div class="form-group">
													<button style="height:24px; margin-top: -2px; margin-right: 10px;margin-left: 10px;" type="button" class="btn btn-success" data-ng-click="searchSubmit(1)">
														<span class="hidden-mobile">검색</span>
													</button>
												</div>

											</form>
										</div>
										<div  class="table-responsive">
											<table class="table table-striped table-hover"
												id="tbl_utm_list">
												<colgroup>
													<col width="14%">
													<col width="9%">
													<col width="14%">
													<col width="14%">
													<col width="14%">
													<col width="8%">
													<col width="9%">
													<col width="9%">
													<col width="9%">
												</colgroup>
												<thead>
													<tr>
														<th style="padding-left: 15px;">고객명</th>
														<th>국사명</th>
														<th>인터넷VLAN</th>
														<th>국사VLAN</th>
														<th>고객사무실VLAN</th>
														<th>서비스 개통일</th>
														<th style="text-align: center;">이중화</th>
														<th>실행이력</th>
														<th>해지</th>
													</tr>
												</thead>
												<tbody>
													<tr data-ng-repeat="d in data"
														data-ng-click="trClick(d.pseq, d.templateseq, d.orgseq)">
														<td style="padding-left: 15px;">{[{d.cname}]}</td>
														<td>{[{d.orgname}]}</td>
														<td>{[{d.t1}]}</td>
														<td>{[{d.t2}]}</td>
														<td>{[{d.t3}]}</td>
														<td>{[{d.startdt}]}</td>
														<td style="text-align: center;" data-ng-if="d.backuptype == '1'">O</td>
														<td style="text-align: center;" data-ng-if="d.backuptype == '0'"></td>
														<td><button type="button" class="btn btn-success" data-ng-click="popProvisioning(d.pseq)">실행이력</button></td>
														<td><button type="button" class="btn btn-danger" data-ng-click="delProvisioning(d.pseq, d.cname)" id="del{[{d.pseq}]}">해지</button></td>																												
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</article>
						<div class="col-sm-12 col-lg-12 col-xs-12" style="text-align: center;">
							<ul class="pagination pagination-sm" style="margin-top:0px; ">
								<li data-ng-if="start==1"></li>
								<li data-ng-if="start!=1">
									<a data-ng-click="searchSubmit(start-1)" style="cursor: pointer;">&laquo;</a>
								</li>
								<li id="current{[{i.page}]}" data-ng-repeat="i in pages">
									<a data-ng-click="searchSubmit(i.page)" style="cursor: pointer;">{[{i.page}]}</a>
								</li>
								<li data-ng-if="end % 5 == 0 && pageNum>end">
									<a data-ng-click="searchSubmit(end+1)" style="cursor: pointer;">&raquo;</a></li>
								<li data-ng-if="end % 5 != 0 && end == pageNum"></li>
							</ul>
						</div>
					</div>
				</section>
			</div>
			
			<div class="modal fade" id="searchAddr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">국사 조회</h4>
						</div>
						<div class="modal-body">
							<div>
								<table width="570px">
									<tr>
										<td width="20%" style="text-align: center;">동이름</td>
										<td width="60%"><input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
												placeholder="동을 입력해 주세요." data-ng-model="dongName"></td>
										<td width="20%" style="text-align: center;"><button type="button" class="btn btn-primary" data-ng-click="searchDong()">조 회</button></td>
									</tr>
								</table>
							</div>
							<br>
							<div class="row">
								<table style="width: 540px; border: 1px solid lightgray;" align="center" class="table table-striped table-hover" data-ng-show="orgTable">
									<tr>
										<th width="70%" style="text-align: center; border-right: 1px solid lightgray;">주   소</th>
										<th width="30%" style="text-align: center;">국   사</th>
									</tr>
									<tr data-ng-repeat="addr in org" data-ng-click="selectedOrg(addr.orgseq, addr.orgname)">
										<td width="70%" style="text-align: center; border-right: 1px solid lightgray;">{[{addr.addr1}]} {[{addr.addr2}]} {[{addr.addr3}]}</td>
										<td width="30%" style="text-align: center;">{[{addr.orgname}]}</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

		<script src="../static/lib/js/jquery.min.js"></script>
		<script>
			function winpop(){
				window.open("/monitor/nfvmonitoring","monitoring");
			}
			function winpop2(){
				window.open("/monitor/nfvmonitoringSecond","nfvmonitoringSecond");
			}
			function winpop3(){
				window.open("/monitor/nfvmonitoringThird","nfvmonitoringThird");
			}
			if (!window.jQuery) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/ordermanagement.js"></script>
	</body>
</html>