body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.terminal {
    border: #000 solid 5px;
    font-family: "Monaco", "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 12px;
    color: #f0f0f0;
    background: #000;
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 10px;
}

.reverse-video {
    color: #000;
    background: #f0f0f0;
}

