<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>NFV제어시스템</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">
		<style type="text/css">
			input[type="radio"], input[type="checkbox"] {
				margin: 0;
				width: 18px;
			}
			
			.ui-datepicker{ z-index: 9999 !important;}
			.form-horizontal .control-label{
				text-align: left;
			}
		</style>
		
	</head>
	<body class="">
		<header id="header">
			<div id="logo-group">

				<div id="logo">

					<a href="/index">
					<img src="../static/lib/SmartAdmin/img/logo_l.png" alt="GiGA Office 서비스제어 플랫폼"></a>
				</div>

				<div class="ajax-dropdown">

					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>

					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>

					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>

				</div>

			</div>

			<div class="pull-right">

				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/logout" title="로그아웃"><i class="fa fa-sign-out"></i></a> </span>
				</div>

				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>

				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<div id="board-menu" class="btn-header pull-right">
					<span> <a href="/board/boardPage" title="게시판"><i class="fa fa-edit"></i></a> </span>
				</div>

				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="j_spring_security_logout"><i class="fa fa-angle-down"></i>&nbsp;&nbsp; </a>
						<ul class="dropdown-menu">
							<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
								<a href="/user/userManage?seq=1">회원정보수정</a>
							</li>
							<li>
								<a href="/logout">로그아웃</a>
							</li>
							
						</ul>
					</li>
				</ul>
				<div id="board" class="btn-header transparent pull-right" style="margin-top: 14px; text-align: right; width: 250px;">
					<span> <strong> {{username}} </strong></span>
				</div>

			</div>
		</header>
		<aside id="left-panel">
			<nav>
				<ul>
					<li>
						<a href="/index" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
					</li>
					<li>
						<a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">인벤토리 관리</span></a>
						<ul id="lp_service_template">
							<!-- <li id="lp_inventory_template" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/template/templatePage">템플릿 관리</a></li>
							<li id="lp_inventory_appliance" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/appliance/appliancePage">Appliance 관리</a></li> -->
							<!-- <li id="lp_inventory_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_inventory_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li> -->
								
							<li id="lp_inventory_vlan" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/vlan/vlanManage">VLAN 관리</a></li>
							<!-- <li id="lp_inventory_ip" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/ip/ipManage">IP 관리</a></li> -->
							<li id="lp_inventory_switch" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/switch/switchManage">스위치 관리</a></li>
							<li id="lp_inventory_utm" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/utm/utmManage">UTM 관리</a></li>
							<li id="lp_inventory_utm_conn" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/utmConn/utmConnManage">UTM 연결 관리</a></li>
							<li id="lp_inventory_ha" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/ha/haManage">HA 그룹 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Provisioning"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">서비스 Provisioning</span></a>
						<ul id="lp_service_ul">
							<li id="lp_service_cust">
								<a href="/cust/custManage" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'">고객 등록</a>
							</li>
							<li id="lp_service_nfv">
								<a href="/provisioning/nfvProvisioning">UTM 개통 관리</a>
							</li>
							<li id="lp_service_list">
								<a href="/order/orderManage">개통 목록 관리</a>
							</li>
							<li id="lp_service_custServer" data-ng-show="0">
								<a href="/cust/custServer">고객사서버 관리</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Monitoring"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">서비스 Monitoring</span></a>
						<ul id="monitoring_ul">
							<li id="monitoring" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'">
								<a href="#" onclick="winpop3()">서비스 상태 조회</a>
							</li>
							<li id="lp_inventory_action" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/action/actionManage">작업이력 관리</a></li>
						</ul>
					</li>
					<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
						<a href="#" title="User Management"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">사용자 관리</span></a>
						<ul id="lp_user_template">
							<li id="lp_user_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_user_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Board"><i class="fa fa-lg fa-fw fa-clipboard"></i> <span class="menu-item-parent">게시판</span></a>
						<ul id="board_ul">
							<li id="boardPage">
								<a href="/board/boardPage">Q & A</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<div id="main" role="main" data-ng-controller="custServer" data-ng-init="init()">
			
			<div id="ribbon">
			
				<span class="ribbon-button-alignment"> <span id="refresh"
					class="btn btn-ribbon" rel="tooltip"
					data-placement="bottom"
					data-html="true"><i class="fa fa-refresh"></i></span>
				</span>

				<ol class="breadcrumb">
					<li>서비스 Provisioning</li>
					<li>고객사서버 관리</li>
				</ol>
				<span class="ribbon-button-alignment pull-right">
				</span>

			</div>
			<div id="content" >
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa-fw fa fa-home"></i> 서비스 Provisioning <span>> 고객사서버 관리</span>
						</h1>
					</div>
				</div>
				<section id="widget-grid" class="">
					<div class="row">
						<article id="user" 
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="jarviswidget jarviswidget-color-greenDark"
								id="wid-list-utm" data-widget-colorbutton="false"
								data-widget-editbutton="false" data-widget-deletebutton="false">
								<header>
									<h2>
										<strong>고객사서버 목록</strong>
									</h2>
								</header>
								<div>
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
										<input class="form-control" type="text"> <span
											class="note"><i class="fa fa-check text-success"></i>
											Change title to update and save instantly!</span>
									</div>

									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
													<label data-ng-show="{{userauth}} == '0' || {{userauth}} == '99'" style="margin-right: 10px;margin-left: 10px;">국사</label>
													<select data-ng-show="{{userauth}} == '0' || {{userauth}} == '99'" class="" style="width : 100px; height:24px;" data-ng-model="orgseq">
														<option value="0">전체</option>
														<option data-ng-repeat="org in orgList" data-ng-value="org.orgseq"
																data-ng-selected="{[{org.orgseq == orgseq}]}">{[{org.orgname}]}</option>
													</select>
													<label style="margin-right: 10px; margin-left: 10px;">고객사</label>
													<input type="text" data-ng-model="customername">
													<label style="margin-right: 10px; margin-left: 10px;">장치명</label>
													<input type="text" data-ng-model="searchServerName">
													<label style="margin-right: 10px;">장치유형</label>
													<input type="text" data-ng-model="searchServerType">
													<button style="height:24px; margin-top: -2px; margin-right: 10px;margin-left: 10px;" class="btn btn-success" data-toggle="modal" data-ng-click="paging(1)">
														검 색
													</button>
												</div>
											</div>
										</div>
										<div  class="table-responsive">
											<table class="table table-striped table-hover"
												>
												<colgroup>
													<col width="5%">
													<col width="5%">
													<col width="15%">
													<col width="10%">
													<col width="10%">
													<col width="15%">
													<col width="20%">
													<col width="20%">
												</colgroup>
												<thead>
													<tr>
														<th style=" text-align: center;border-right: 1px solid lightgray;">선택</th>
														<th style=" text-align: center">국사</th>
														<th style=" text-align: center">고객사</th>
														<th style=" text-align: center">장치명</th>
														<th style=" text-align: center">장치IP</th>
														<th style=" text-align: center">장치유형</th>
														<th style=" text-align: center">입고일</th>
														<th style=" text-align: center">출고일</th>
													</tr>
												</thead>
												<tbody>
													<tr data-ng-repeat="s in serverList" data-toggle="modal" id="clickTr"
														data-target="#detailServer" 
														data-ng-click="serverDetail(s.serverseq,s.servername,s.customerseq,s.server_ip,s.public_ip_yn,s.server_type,s.state,s.store_dttm,s.release_dttm,s.locat,s.spec,s.note)">
														<td data-ng-click="$event.stopPropagation()" style=" text-align: center;border-right: 1px solid lightgray;">
															<input type="checkbox" id="checked{[{$index}]}">
														</td>
														<td align="center">{[{s.orgname}]}</td>
														<td align="center">{[{s.customername}]}</td>
														<td align="center">{[{s.servername}]}</td>
														<td align="center">{[{s.server_ip}]}</td>
														<td align="center">{[{s.server_type}]}</td>
														<td align="center">{[{s.store_dttm}]}</td>
														<td align="center">{[{s.release_dttm}]}</td>
														<td id="seq{[{$index}]}" data-ng-show="false">{[{s.serverseq}]}</td>
													</tr>
												</tbody>
											</table>
										</div>
										
									</div>
								</div>
							</div>
							
							<div class="col-sm-12 col-lg-12 col-xs-12" style="text-align: center;">
								<button class="btn btn-success pull-right" style="margin-left: 5px;" data-toggle="modal"
									data-target="#insertUtmModal" data-ng-click="serverDelete()">
									삭제
								</button>
								<button data-ng-show="addUserBtn" class="btn btn-success pull-right" data-toggle="modal"
									data-target="#insertServer" data-ng-click="addServer()">
									등록
								</button>
								
								<ul class="pagination pagination-sm" style="margin-top:0px; ">
									<li data-ng-if="start==1"></li>
									<li data-ng-if="start!=1">
										<a data-ng-click="paging(start-1)" style="cursor: pointer;">&laquo;</a>
									</li>
									<li id="current{[{i.page}]}" data-ng-repeat="i in pages">
										<a data-ng-click="paging(i.page)" style="cursor: pointer;">{[{i.page}]}</a>
									</li>
									<li data-ng-if="end % 5 == 0 && pageNum>end">
										<a data-ng-click="paging(end+1)" style="cursor: pointer;">&raquo;</a></li>
									<li data-ng-if="end % 5 != 0 && end == pageNum"></li>
								</ul>
							</div>
						</article>
					</div>
				</section>
			</div>
			<div class="modal fade" id="insertServer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">고객사서버 등록</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" role="form">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장치명</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="serverName">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr"  class="col-lg-2 control-label">고객사</label>
										<div class="col-lg-10">
										<select class="form-control ng-pristine ng-valid" data-ng-model="insertCust">
											<option data-ng-repeat="cust in custList" value="{[{cust.customerseq}]}">{[{cust.customername}]}</option>
										</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장치IP</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="serverIp">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-3 control-label" style="padding-top: 13px;">사설/공인 IP 여부</label>
										<div class="col-lg-9">
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="publicIpYn" value="n"><label style="padding-top: 7px;">사설 IP</label>
										</label>
										</div>
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="publicIpYn" value="y"><label style="padding-top: 7px;">공인 IP</label>
										</label>
										</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장치유형</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="serverType">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-3 control-label" style="padding-top: 13px;">입출고 상태</label>
										<div class="col-lg-9">
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="state" data-ng-change="picker()" value="i"><label style="padding-top: 7px;">입고</label>
										</label>
										</div>
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="state" data-ng-change="picker()" value="o"><label style="padding-top: 7px;">출고</label>
										</label>
										</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group" style="height:32px;">
										<div class="input-group">
											<label class="col-lg-2 control-label" data-ng-show="state == 'i'">입고일</label>
											<div class="col-lg-10" data-ng-show="state == 'i'">
												<div class="input-group">
													<input class="form-control" data-dateformat="yyyy-mm-dd"
														id="storeDttm" data-ng-model="storeDttm" type="text"
														placeholder="입고 날짜" style="height:32px;"> <span
														class="input-group-addon" style="height:32px;padding:3px;"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
											<label class="col-lg-2 control-label" data-ng-show="state == 'o'">출고일</label>
											<div class="col-lg-10" data-ng-show="state == 'o'">
												<div class="input-group">
													<input class="form-control" data-dateformat="yyyy-mm-dd"
														id="releaseDttm" data-ng-model="releaseDttm" type="text"
														placeholder="출고 날짜" style="height:32px;"> <span
														class="input-group-addon" style="height:32px;padding:3px;"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">위치</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="locat">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장비 사양</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="spec">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">비고</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="note">
										</div>
									</div>
								</div>
							</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-ng-click="custClose()" data-dismiss="modal">취소</button>
							<button type="button" class="btn btn-primary" data-ng-click="custSubmit()">확인</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="detailServer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">고객사서버 수정</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" role="form">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장치명</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="serverName">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr"  class="col-lg-2 control-label">고객사</label>
										<div class="col-lg-10">
										<select class="form-control ng-pristine ng-valid" data-ng-model="insertCust">
											<option data-ng-repeat="cust in custList" value="{[{cust.customerseq}]}">{[{cust.customername}]}</option>
										</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장치IP</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="serverIp">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-3 control-label" style="padding-top: 13px;">사설/공인 IP 여부</label>
										<div class="col-lg-9">
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="publicIpYn" value="n"><label style="padding-top: 7px;">사설 IP</label>
										</label>
										</div>
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="publicIpYn" value="y"><label style="padding-top: 7px;">공인 IP</label>
										</label>
										</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장치유형</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="serverType">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-3 control-label" style="padding-top: 13px;">입출고 상태</label>
										<div class="col-lg-9">
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="state" data-ng-change="picker()" value="i"><label style="padding-top: 7px;">입고</label>
										</label>
										</div>
										<div class="col-lg-6">
										<label class="radio-inline">
										<input type="radio" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="state" data-ng-change="picker()" value="o"><label style="padding-top: 7px;">출고</label>
										</label>
										</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group" style="height:32px;">
										<div class="input-group">
											<label class="col-lg-2 control-label" data-ng-show="state == 'i'">입고일</label>
											<div class="col-lg-10" data-ng-show="state == 'i'">
												<div class="input-group">
													<input class="form-control" data-dateformat="yyyy-mm-dd"
														id="modistoreDttm" data-ng-model="modistoreDttm" type="text"
														placeholder="입고 날짜" style="height:32px;"> <span
														class="input-group-addon" style="height:32px;padding:3px;"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
											<label class="col-lg-2 control-label" data-ng-show="state == 'o'">출고일</label>
											<div class="col-lg-10" data-ng-show="state == 'o'">
												<div class="input-group">
													<input class="form-control" data-dateformat="yyyy-mm-dd"
														id="modireleaseDttm" data-ng-model="modireleaseDttm" type="text"
														placeholder="출고 날짜" style="height:32px;"> <span
														class="input-group-addon" style="height:32px;padding:3px;"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">위치</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="locat">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">장비 사양</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="spec">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="detailaddr" class="col-lg-2 control-label">비고</label>
										<div class="col-lg-10">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="" data-ng-model="note">
										</div>
									</div>
								</div>
							</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-ng-click="custClose()" data-dismiss="modal">취소</button>
							<button type="button" class="btn btn-primary" data-ng-click="custModify()">수정</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

	<script src="../static/lib/js/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/custServerList.js"></script>
		<script>
			var username = "{{username}}";
			function winpop(){
				window.open("/monitor/nfvmonitoring","nfvmonitoring");
			}
			function winpop2(){
				window.open("/monitor/nfvmonitoringSecond","nfvmonitoringSecond");
			}
			function winpop3(){
				window.open("/monitor/nfvmonitoringThird","nfvmonitoringThird");
			}
		</script>
	</body>
</html>