<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>NFV제어시스템</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/nfvprovision.css">

		
	</head>
	<body class="">

		<header id="header">
			<div id="logo-group">

				<div id="logo">

					<a href="/index">
					<img src="../static/lib/SmartAdmin/img/logo_l.png"></a>
				</div>

				<div class="ajax-dropdown">

					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>

					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>

					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>

				</div>

			</div>

			<div class="pull-right">

				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/logout" title="로그아웃"><i class="fa fa-sign-out"></i></a> </span>
				</div>

				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>

				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<div id="board-menu" class="btn-header pull-right">
					<span> <a href="/board/boardPage" title="게시판"><i class="fa fa-edit"></i></a> </span>
				</div>

				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="j_spring_security_logout"><i class="fa fa-angle-down"></i>&nbsp;&nbsp; </a>
						<ul class="dropdown-menu">
							<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
								<a href="/user/userManage?seq=1">회원정보수정</a>
							</li>
							<li>
								<a href="/logout">로그아웃</a>
							</li>
							
						</ul>
					</li>
				</ul>
				<div id="board" class="btn-header transparent pull-right" style="margin-top: 14px; text-align: right; width: 250px;">
					<span> <strong> {{username}} </strong></span>
				</div>

			</div>

		</header>

		<aside id="left-panel">
			<nav>
				<ul>
					<li>

						<a href="/index" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
					</li>
					<li>
						<a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">인벤토리 관리</span></a>
						<ul id="lp_service_template">
							<!-- <li id="lp_inventory_template" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/template/templatePage">템플릿 관리</a></li>
							<li id="lp_inventory_appliance" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/appliance/appliancePage">Appliance 관리</a></li> -->
							<!-- <li id="lp_inventory_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_inventory_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li> -->
							<!-- <li id="lp_inventory_org" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/org/orgManage">국사 관리</a></li> -->
							<li id="lp_inventory_vlan" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/vlan/vlanManage">VLAN 관리</a></li>
							<!-- <li id="lp_inventory_ip" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/ip/ipManage">IP 관리</a></li> -->
							<li id="lp_inventory_switch" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/switch/switchManage">스위치 관리</a></li>
							<li id="lp_inventory_utm" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/utm/utmManage">UTM 관리</a></li>
							<li id="lp_inventory_utm_conn" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/utmConn/utmConnManage">UTM 연결 관리</a></li>
							<li id="lp_inventory_ha" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'"><a href="/ha/haManage">HA 그룹 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Provisioning"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">서비스 Provisioning</span></a>
						<ul id="lp_service_ul">
							<li id="lp_service_cust">
								<a href="/cust/custManage" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'">고객 등록</a>
							</li>
							<li id="lp_service_nfv">
								<a href="/provisioning/nfvProvisioning">UTM 개통 관리</a>
							</li>
							<li id="lp_service_list">
								<a href="/order/orderManage">개통 목록 관리</a>
							</li>
							<li id="lp_service_custServer" data-ng-show="0">
								<a href="/cust/custServer">고객사서버 관리</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Monitoring"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">서비스 Monitoring</span></a>
						<ul id="monitoring_ul">
							<li id="monitoring" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99' || {{userauth}} == '1'">
								<a href="#" onclick="winpop3()">서비스 상태 조회</a>
							</li>
							<li id="lp_inventory_action" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/action/actionManage">작업이력 관리</a></li>
						</ul>
					</li>
					<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
						<a href="#" title="User Management"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">사용자 관리</span></a>
						<ul id="lp_user_template">
							<li id="lp_user_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_user_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Board"><i class="fa fa-lg fa-fw fa-clipboard"></i> <span class="menu-item-parent">게시판</span></a>
						<ul id="board_ul">
							<li id="boardPage">
								<a href="/board/boardPage">Q & A</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>

		<div id="main" role="main" data-ng-controller="CtrlService"
			data-ng-init="init()" style="visibility: hidden;">

			<div id="ribbon">

				<span class="ribbon-button-alignment"> <span id="refresh"
					class="btn btn-ribbon" rel="tooltip"
					data-placement="bottom"
					data-html="true"><i class="fa fa-refresh"></i></span>
				</span>

				<ol class="breadcrumb">
					<li>서비스 Provisioning</li>
					<li>UTM 개통 관리</li>
				</ol>

				<span class="ribbon-button-alignment pull-right"> </span>

			</div>

			<div id="content">


				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa-fw fa fa-home"></i> 서비스 Provisioning <span>> UTM 개통 관리</span>
						</h1>
					</div>
				</div>
				
				<section id="widget-grid" class="">
					<div class="row">
						<article id="order"
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						</article>
					</div>
					
					<div id="service" class="row">
						<input id="cloudifyid" type="hidden" value="" />
						<input id="neseq" type="hidden" value="" />
						<input id="necatseq" type="hidden" value='' />
						<article class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							
							<div
								class="jarviswidget jarviswidget-color-blue jarviswidget-sortable"
								data-widget-editbutton="false"
								data-widget-colorbutton="false" data-widget-deletebutton="false"
								style="margin-bottom: 10px;">

								<header role="heading">
									<span class="widget-icon"> <i id="progress_icon2"
										class="fa fa-gear fa-lg" style="margin-top: 10px;"></i>
									</span>
									<h2>
										<strong>UTM 개통 관리</strong>
									</h2>
								</header>

								<div class="no-padding">

									<div class="jarviswidget-editbox">test</div>

									<div class="widget-body" style="padding-bottom: 0px;">

										<div id="myTabContent" class="tab-content">
											<div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
												<div class="row no-space">
													<div class="col-xs-12">
														<div class="item" style="margin-left: 0px;" align="center">
															<table class="table table-bordered" style="width: 100%;"
																id="tbl-prov">
																<thead>
																	<tr>
																		<th style="width: 7%;vertical-align: middle; text-align: center;">템플릿명</th>
																		<td style="background-color: #f8f8f8; width: 20%;vertical-align: middle;">
																			<div>
																			<select data-ng-model="templateseq" data-ng-change="templateChange()" id="template_select"
																				style="width: 100%;height:24px;color:#999;border:1px solid #ccc;padding-left:8px;vertical-align: middle;" disabled="disabled">
																				<option data-ng-repeat="template in templateData" value="{[{template.nstemplateseq}]}"
																						data-ng-selected="{[{template.nstemplateseq == 10}]}">
																					{[{template.templatedesc}]}
																				</option>
																			</select>
																			</div>
																		</td>
																		<th style="width: 7%;vertical-align: middle; text-align: center;">국사위치</th>
																		<td style="background-color: #f8f8f8; width: 20%;vertical-align: middle;">
																			<div>
																				<select data-ng-model="orgSeq" style="width: 100%;height:24px;color:#999;border:1px solid #ccc;
																						padding-left:8px;vertical-align: middle;" data-ng-change="NFVprov()">
																					<option value="0">선택해 주세요.</option>
																					<option data-ng-repeat="org in orgList" value="{[{org.orgseq}]}"
																						data-ng-selected="{[{org.orgseq == orgSeq}]}">{[{org.orgname}]}
																					</option>
																				</select>
																			</div>
																		</td>
																		<th style="width: 7%;vertical-align: middle; text-align: center;">고객사명</th>
																		<td style="background-color: #f8f8f8; width: 20%;vertical-align: middle;">
																			<div>
																			<select data-ng-model="users"
																				style="width: 100%;height:24px;color:#999;border:1px solid #ccc;padding-left:8px;vertical-align: middle;">
																				<option value="0">선택해 주세요.</option>
																				<option data-ng-repeat="user in userList" value="{[{user.userid}]}">{[{user.username}]}({[{user.userid}]})
																				</option>
																			</select>
																			</div>
																		</td>
																		<th style="width: 6%;vertical-align: middle; text-align: center;">이중화</th>
																		<td style="background-color: #f8f8f8; width: 5%;vertical-align: middle;">
																			<div>
																				<input type="checkbox" id="is_backup" style="width: 100%;height:15px;color:#999;border:1px solid #ccc;padding-left:8px;vertical-align: middle;">
																			</div>
																		</td>
																	</tr>
																</thead>
															</table>
															<div class="pro_warp2" >
																<div class="nfv_title2" style="visibility: hidden;">
																	<h4>
																		<span style="font-family:NanumGothic,돋움,Dotum,sans-serif;">고객사</span>
																	</h4>
																</div>
																<div class="nfv_title3" style="visibility: hidden;">
																	<h4>
																			<span style="font-family:NanumGothic,돋움,Dotum,sans-serif;">집선 스위치</span>
																	</h4>
																</div>
																<div class="nfv_title4" style="visibility: hidden;">
																	<h4>
																			<span style="font-family:NanumGothic,돋움,Dotum,sans-serif;">서버 Zone</span>
																	</h4>
																</div>
																<div class="col-sm-6 col-md-6 col-lg-6">
																	<div class="leftmenu" style="visibility: hidden;">
																		<ul style="width: 117px; height: 118px; overflow:;" class="ui-menu2">
																			<h3 style="visibility: hidden;">
																				<i class="fa fa-lg fa-fw fa-picture-o" style="font-size:12.5px; color: #eee;"></i>
																				<span>NFV Pool</span>
																			</h3>
																			<li data-ng-repeat="pool in poolList">
																				<span style="" class="fa fa-play demo-icon-fonti"></span>  {[{pool.subname}]}
																				<label class="checkbox-inline">
																					<input type="checkbox" id="template{[{$index}]}" data-ng-click="changePool()">
																				</label>
																			</li>
																		</ul>
																    </div>
																 </div>
																<div class="btn_default_warp">
																	<div class="nfv_title" style="visibility: hidden;">
																		<h2>
																				<span>kt NFV Pool</span>
																		</h2>
																	</div>
																   	
																	<div  class="btn-firewall_default" data-ng-repeat="app in appAttribut" data-ng-show="app.selected">
																		<div>
																			<div id="{[{app.subname}]}" 
																				data-placement="top" class="vutm_logo" style="/* cursor: pointer;  */text-decoration: none;">
																				<input type="hidden" id="necatseq_{[{app.subname}]}" value="d">
																				<h3>
																					<span>{[{app.subname}]}</span>
																				</h3>
																			</div>
																		</div>
																	    <div id="template_{[{app.subname}]}" 
																	    	style="margin-top:-3px;position: relative;cursor: pointer;" data-ng-click="detail(app.neclsseq, app.subname)">
																	    	<img style="width: 48px; height: 39px;" data-ng-src="{[{app.imagesrc}]}" alt="firewall 활성화" />
																	    	<!-- <div class="icon_process_yellow">
																			     <span><img data-ng-src="{[{app.iconsrc}]}"	alt="process 진행상태" title="process 진행상태" /></span>
																	        </div> -->
																    	</div>
																	    <span style="letter-spacing:-1px;cursor: pointer;" data-ng-show="0">{[{app.servicename}]}</span>
																	    <span style="letter-spacing:-1px;cursor: pointer;" data-ng-click="detail(app.neclsseq, app.subname)">Olleh-vUTM</span>
																	    <div class="widget-toolbar" role="menu" data-ng-show="app.progressbar" style="cursor: default;">
														                    <div class="progress progress-striped active" data-placement="bottom" data-original-title="0%" rel="tooltip">
														                    	<div class="{[{app.progressClass}]}" style="width : {[{app.progressWidth}]}%;" role="progressbar" id="progress">
														                      		<span id="progressSpan"style="font-size:9px;">{[{app.progressWidth}]}%</span></div>
														                    </div>
														                </div>
														                <div style="margin-bottom:0px;" data-ng-show="app.urlbtn" data-ng-click="urlConnect(app.neclsseq)">
																        	<img src="../static/lib/SmartAdmin/img/soweb_service/btn_detail.png" alt="상세 설정"/>
																        </div>
																	</div>

																	<a id="apDiv9" data-ng-click="fixDetailBtn(13)"
																	class="btn-l2switch_default" style="cursor: pointer;visibility: hidden;">
																	</a>
																	<a id="apDiv10" 
																	class="btn-server_default" style="cursor: pointer;visibility: hidden;">
																	</a>
																   	<div class="btn_joint1">
																		<span>
																		<img src="../static/lib/SmartAdmin/img/soweb_service/nfvcloud_switchbox.png" style="margin-left: -1px;margin-top: 3px;"/></span>
																	</div>
																  	<div class="btn_joint2">
																		<span>
																		<img src="../static/lib/SmartAdmin/img/soweb_service/nfvcloud_switchbox.png" style="margin-left: -158px;margin-top: 2px;"/></span>
																	</div>
																	<div class="btn_joint3">
																		<span>
																		<img src="../static/lib/SmartAdmin/img/soweb_service/nfvcloud_switchbox.png" style="margin-left: -1px;margin-top: 1px;"/></span>
																	</div>
																	<div data-ng-show="templateSlide">
																		<div style="max-width: 540px; top: -219px; left: {[{cssLeft}]}px; display: block;"
																			class="popover fade top in col-xs-12 col-sm-12 col-md-12 col-lg-12">
																			<h3 class="popover-title">
																				<strong>{[{subname}]} 선택</strong>
																			</h3>

																			<div id="utmCarousel" class="carousel slide">
																				<ol class="carousel-indicators">
																					<li data-target="#utmCarousel" data-slide-to="{[{$index}]}" data-ng-repeat="template in appTemplate"
																						class=""></li>
																				</ol>
																				<div class="carousel-inner">
																					<div class="item" data-ng-repeat="template in appTemplate" id="{[{subname}]}{[{$index}]}">
																						<input type="hidden" id="necatseq{[{$index}]}" value={[{template.necatseq}]}>
																						<input type="hidden" id="neclsseq{[{$index}]}" value={[{template.neclsseq}]}>
																						<div>
																							<h3>
																								<span>
																									<img data-ng-src="{[{template.icon_small}]}" style="width: 23px; height: 23px;"
																										alt="{[{template.service_name}]}" title="{[{template.service_name}]}"/>
																									
																								</span>
																								<span>
																									<strong>{[{template.service_name}]}</strong>
																								</span>
																							</h3>
																						</div>
																						<div class="tabs-left">
																							<ul class="nav nav-tabs tabs-left"
																								style="width: 200px;" id="demo-pill-nav">
																								<li class="">
																									<div>
																										<div>
																											<span class="">
																											<img data-ng-src="{[{template.icon_large}]}" style="width: 211px; height: 173px;"/></span>
																										</div>
																									</div>
																								</li>
																							</ul>
																						</div>
																						<div class="tab-content">
																							<div class="tab-pane active" id="logoDiv11-tab-r1"
																								style="height: 180px;">
																								<table class="table table-bordered"
																									style="width: 180px;">
																									<thead>
																										<tr>
																											<th style="width: 50%">형태</th>
																											<td style="background-color: #f8f8f8;">Software</td>
																										</tr>
																										<tr>
																											<th>성능(최대)</th>
																											<td style="background-color: #f8f8f8;">{[{template.spec_thruput}]}</td>
																										</tr>
																										<tr>
																											<th>VPN(채널수)</th>
																											<td style="background-color: #f8f8f8;">{[{template.spec_vpntunnel}]}</td>
																										</tr>
																										<tr>
																											<th>단가</th>
																											<td style="background-color: #f8f8f8;">{[{template.price_monthly}]}</td>
																										</tr>
																									</thead>
																								</table>
																							</div>
																						</div>
																					</div>
																				</div>
																				<a class="left carousel-control" href="#utmCarousel"
																					data-slide="prev"> <span
																					class="glyphicon glyphicon-chevron-left"></span>
																				</a> <a class="right carousel-control"
																					href="#utmCarousel" data-slide="next"> <span
																					class="glyphicon glyphicon-chevron-right"></span>
																				</a>
																			</div>
																			<div class="modal-footer"
																				style="width: 100%; margin-top: 0px; padding-top: 5px; padding-bottom: 5px;">
																				<button type="button" class="btn btn-default"
																					data-ng-click="closeBtn()">닫기</button>
																				<button type="button" class="btn btn-primary"
																					data-ng-click="templateOkBtn()">선택</button>
																			</div>
																		</div>
																	</div>
																	<div data-ng-show="templateDetail" id="templateDetail">
																		<div style="min-width: 600px; top: -220px; left: -80px; display: block;"
																			class="popover fade bottom in col-xs-12 col-sm-12 col-md-12 col-lg-12">
																			<!-- <div class="arrow"></div> -->
																			<h3 class="popover-title"><b>{[{detailSubname}]} 설정</b></h3>
																			<div style="margin-bottom: 10px;margin-top: 10px;">
																				<label style="margin-right: 10px;margin-left: 10px;display: inline-block;">UTM노드</label>
																				<select data-ng-model="utmNode" style="width: 140px;height:24px;color:#999;border:1px solid #ccc;
																						padding-left:8px;vertical-align: middle;" data-ng-change="changeUtmNode()">
																					<option value="0">선택해 주세요.</option>
																					<option data-ng-repeat="utms in utmList" value="{[{utms.utm_seq}]}">{[{utms.utm_name}]}
																					</option>
																				</select>
																				<label style="margin-right: 10px;margin-left: 10px;display: inline-block;">스위치</label>
																				<select data-ng-model="swseq" style="width: 140px;height:24px;color:#999;border:1px solid #ccc;
																						padding-left:8px;vertical-align: middle;" data-ng-change="changeSwitch()">
																					<option value="0">선택해 주세요.</option>
																					<option data-ng-repeat="sw in swList" value="{[{sw.sw_seq}]}">{[{sw.sw_name}]}
																					</option>
																				</select>
																				<label style="margin-right: 10px;margin-left: 10px;display: inline-block;">포트</label>
																				<select style="width : 50px;height:24px;" data-ng-change="changeZoneId()" data-ng-model="zoneID">
																					<option data-ng-repeat="n in range3(1,port)" data-ng-value="n">{[{n}]}</option>
																				</select>
																				<input id="logicalID" type="number" class="combobox" data-ng-model="logicalID" style="width : 50px;height:24px;" disabled="disabled">
																			</div>
																			<!-- <div class="popover-content" style="width: 100%">
																				<div class="modal-body" style="width: 100%;padding-bottom:0px;padding-top:0px;padding-left:0px;padding-right:0px;"> -->
																					<tabset>
																						<tab heading="RED">
																							<div style="overflow-y: scroll; width: 100%; height: 240px; padding: 4px; border: 1px solid #eee;">
																							<table class="table table-bordered"
																								style="width: 100%;margin-bottom:0px;">
																								<thead>
																									<tr>
																										<th style="width: 55%;vertical-align: middle;">RED VLAN</th>
																										<td style="width: 45%;background-color: #F8F8F8" colspan="3">
																											<ul class="nav">
																												<li class="dropdown">
																											        <input id="red_vlan_value" type="number" class="combobox" min="1" max="3000" placeholder="ex) 2120" class="dropdown-toggle" data-toggle="dropdown" data-ng-model="eth1_vlan.value" style="width: 100%;padding: 3px 12px;height: 24px;">
																											        <!-- <ul class="dropdown-menu" role="menu" id="dropdown-menu" style="height: 100px; overflow-y: auto; width: 100%">
																											            <li data-ng-repeat="v in vlanList" class="combobox-item" data-ng-click="eth1_vlan.value = v.vlan">{[{v.vlan}]}</li>
																											        </ul> -->
																											    </li>
																											</ul>
																											<!-- <select style="width : 100%;height:24px;" data-ng-model="eth1_vlan.value" id="displayValue{[{$index}]}">
																												<option data-ng-repeat="n in range(2000,2400)" data-ng-if="n != eth2_vlan.value && n != eth3_vlan.value && n != eth4_vlan.value && n != eth5_vlan.value" data-ng-value="n">{[{n}]}</option>
																											</select> -->
																											<!-- <input type="text" class="form-control" placeholder="" id="displayValue{[{$index}]}"
																												data-ng-model="eth1_vlan.value" value="{[{eth1_vlan.value}]}" style="width: 100%;height:24px;"/> -->
																										</td>
																										<!-- <td style="width: 20%;background-color: #F8F8F8" colspan="2">
																											<input type="text" class="form-control" placeholder=""
																												data-ng-model="eth1_vlan.value" value="{[{eth1_vlan.value}]}" style="width: 100%;height:24px;"/>
																										</td> -->																											
																									</tr>
																									<tr>
																										<th style="width: 55%;vertical-align: middle;">Default Gateway</th>
																										<td style="background-color: #F8F8F8" colspan="3">
																											<input type="text" class="form-control" placeholder="ex) 192.168.10.1" id="displayValue{[{$index}]}"
																												data-ng-model="eth1_gateway.value" value="{[{eth1_gateway.value}]}" style="width: 100%;height:24px;"/></td>
																									</tr>
																									
																									<tr data-ng-repeat="cidr1 in eth1_cidr.value track by $index">
																										<th style="width: 55%;vertical-align: middle;">RED IP #1
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="eth1_cidr.value.length == ({[{$index}]}+1) && eth1_btn"
																												data-ng-click="addAttribute('eth1')"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																										</th>
																										<td style="width: 30%;background-color: #F8F8F8">
																											<input type="text" class="form-control" placeholder="ex) 192.168.0.1" id="displayValue{[{$index}]}"
																												data-ng-model="eth1_cidr_start[$index]" style="width: 100%;height:24px;"/></td>
																										<td style="width: 5%;background-color: #F8F8F8;padding-left: 11px;padding-top: 8px;">/</td>
																										<td style="width: 10%;background-color: #F8F8F8">
																											<!-- <input type="text" class="form-control" placeholder="" id="displayValue{[{$index}]}"
																												data-ng-model="eth1_cidr_end[$index]" style="width: 100%;height:24px;"/> -->
																											<select style="width : 100%;height:24px;" data-ng-model="eth1_cidr_end[$index]" id="displayValue{[{$index}]}">
																												<option data-ng-repeat="n in range(0,32)" data-ng-value="n">{[{n}]}</option>
																											</select>
																										</td>
																									</tr>
																									<tr data-ng-repeat="add_eth1 in eth1_cidrs track by $index">
																										<th style="width: 55%;vertical-align: middle;">RED IP #{[{$index+2}]}
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="eth1_cidrs.length == ({[{$index}]}+1) && !eth1_btn"
																												data-ng-click="addAttribute('eth1')"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="eth1_cidrs.length == ({[{$index}]}+1) && !eth1_btn"
																												data-ng-click="delAttribute('eth1')"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">-</button>
																										</th>
																										<td style="width: 30%;background-color: #F8F8F8">
																											<input type="text" class="form-control" placeholder="ex) 192.168.0.1" id="eth1_cidrs{[{$index}]}"
																												data-ng-model="eth1_cidrs[$index]" style="width: 100%;height:24px;"/></td>
																										<td style="width: 5%;background-color: #F8F8F8;padding-left: 11px;padding-top: 8px;">/</td>
																										<td style="width: 10%;background-color: #F8F8F8">
																											<!-- <input type="text" class="form-control" placeholder="" id="eth1_cidrs_end{[{$index}]}"
																												style="width: 100%;height:24px;"/> -->
																											<select style="width : 100%;height:24px;" data-ng-model="eth1_cidrs_end[$index]" id="eth1_cidrs_end{[{$index}]}">
																												<option data-ng-repeat="n in range(0,32)" data-ng-value="n">{[{n}]}</option>
																											</select>
																										</td>
																									</tr>
																									<tr>
																										<th style="width: 55%;vertical-align: middle;">DNS1
																										</th>
																										<td style="background-color: #F8F8F8;text-align: center;" colspan="3">
																											<input type="text" id="dns1" data-ng-change="ch_etc()" placeholder="ex) 168.126.63.1" class="form-control" placeholder="" data-ng-model="dns1" style="width: 100%;height:24px;"/>
																										</td>
																									</tr>
																									<tr>
																										<th style="width: 55%;vertical-align: middle;">DNS2(optional)
																										</th>
																										<td style="background-color: #F8F8F8;text-align: center;" colspan="3">
																											<input type="text" id="dns2" data-ng-change="ch_etc()" class="form-control" placeholder="" data-ng-model="dns2" style="width: 100%;height:24px;"/>
																										</td>
																									</tr>
																								</thead>
																							</table>
																							</div>
																						</tab>
																						<tab heading="GREEN">
																							<div style="overflow-y: scroll; width: 100%; height: 240px; padding: 4px; border: 1px solid #eee;">
																							<select style="width: 100px;height:24px;" id="green_type">
																								<option value="고객사무실">고객사무실</option>
																								<option value="국사">국사</option>
																							</select>
																							<table class="table table-bordered"
																								style="width: 100%;margin-bottom:0px;">
																								<thead>
																									<tr data-ng-repeat="n in range2(1,green_cnt) track by $index">
																										<th style="width: 55%;vertical-align: middle;">GREEN VLAN #{[{n}]}
																										<button class="btn btn-sm btn-primary pull-right" type="button"
																															data-ng-show="zone_cnt < 4 && green_cnt == ($index+1)"
																															data-ng-click="addGreen()"
																															id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																										<button class="btn btn-sm btn-primary pull-right" type="button"
																															data-ng-show="green_cnt > 1 && green_cnt == ($index+1)"
																															data-ng-click="delGreen()"
																															id="wid-utm-provision-btn_provison" style="font-size : 8px; ">-</button>
																										</th>
																										<td style="width: 45%;background-color: #F8F8F8" colspan="3">
																											<ul class="nav">
																												<li class="dropdown">
																											        <input id="green_vlan_value{[{$index}]}" data-ng-model="green_vlans[$index]" type="number" class="combobox" min="1" max="1100" placeholder="ex) 121" class="dropdown-toggle" data-toggle="dropdown" style="width: 100%;padding: 3px 12px;height: 24px;">
																											        <!-- <ul class="dropdown-menu" role="menu" id="dropdown-menu" style="height: 100px; overflow-y: auto; width: 100%">
																											            <li data-ng-repeat="v in vlanList" class="combobox-item" data-ng-click="green_vlans[n-1] = v.vlan">{[{v.vlan}]}</li>
																											        </ul> -->
																											    </li>
																											</ul>
																										</td>
																									</tr>
																									
																									<tr data-ng-repeat="n in range2(1,green_cidr_cnt) track by $index" data-ng-if="green_cnt > 0">
																										<th style="width: 55%;vertical-align: middle;">GREEN IP #{[{$index+1}]}
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-click="addGreenIP()" data-ng-show="($index+1) == green_cidr_cnt"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="green_cidr_cnt > 1 && ($index+1) == green_cidr_cnt"
																												data-ng-click="delGreenIP()"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">-</button>
																										</th>
																										
																										<td style="width: 30%;background-color: #F8F8F8">
																											<input type="text" class="form-control" placeholder="ex) 192.168.0.1" id="green_ip{[{$index}]}"
																												data-ng-model="green_ip[$index]" style="width: 100%;height:24px;"/></td>
																										<td style="width: 5%;background-color: #F8F8F8;padding-left: 11px;padding-top: 8px;">/</td>
																										<td style="width: 10%;background-color: #F8F8F8">
																											<select style="width : 100%;height:24px;" data-ng-model="green_cidr[$index]" id="green_cidr{[{$index}]}">
																												<option data-ng-repeat="k in range(0,32)" data-ng-value="k">{[{k}]}</option>
																											</select>
																										</td>
																									</tr>
																									
																									<tr>
																										<th style="width: 55%;vertical-align: middle;">GREEN Proxy ARP
																										</th>
																										<td style="background-color: #F8F8F8;text-align: center;" colspan="3">
																											<input type="checkbox" id="br0_proxys0" data-ng-click="ch_check()">
																										</td>
																									</tr>
																								</thead>
																							</table>
																							</div>
																						</tab>
																						
																						<tab heading="ORANGE">
																							<div style="overflow-y: scroll; width: 100%; height: 240px; padding: 4px; border: 1px solid #eee;">
																							<select style="width: 100px;height:24px;" id="orange_type">
																								<option value="국사">국사</option>
																								<option value="고객사무실">고객사무실</option>																								
																							</select>
																							<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="zone_cnt < 4 && orange_cnt == 0"
																												data-ng-click="addOrange()"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">추가</button>
																							<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="orange_cnt == 1"
																												data-ng-click="delOrange()"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">제거</button>
																							<table class="table table-bordered"
																								style="width: 100%;margin-bottom:0px;">
																								<thead>
																							
																									<tr data-ng-repeat="n in range2(1,orange_cnt) track by $index">
																										<th style="width: 55%;vertical-align: middle;">ORANGE VLAN #{[{n}]}
																										<button class="btn btn-sm btn-primary pull-right" type="button"
																															data-ng-show="zone_cnt < 4 && orange_cnt == ($index+1)"
																															data-ng-click="addOrange()"
																															id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																										<button class="btn btn-sm btn-primary pull-right" type="button"
																															data-ng-show="orange_cnt > 1 && orange_cnt == ($index+1)"
																															data-ng-click="delOrange()"
																															id="wid-utm-provision-btn_provison" style="font-size : 8px; ">-</button>
																										</th>
																										<td style="width: 45%;background-color: #F8F8F8" colspan="3">
																											<ul class="nav">
																												<li class="dropdown">
																											        <input id="orange_vlan_value{[{$index}]}" data-ng-model="orange_vlans[$index]" type="number" class="combobox" min="1" max="1100" placeholder="ex) 121" class="dropdown-toggle" data-toggle="dropdown" style="width: 100%;padding: 3px 12px;height: 24px;">
																											        <!-- <ul class="dropdown-menu" role="menu" id="dropdown-menu" style="height: 100px; overflow-y: auto; width: 100%">
																											            <li data-ng-repeat="v in vlanList" class="combobox-item" data-ng-click="orange_vlans[n-1] = v.vlan">{[{v.vlan}]}</li>
																											        </ul> -->
																											    </li>
																											</ul>
																										</td>
																									</tr>
																									
																									<tr data-ng-repeat="n in range2(1,orange_cidr_cnt) track by $index" data-ng-if="orange_cnt > 0">
																										<th style="width: 55%;vertical-align: middle;">ORANGE IP #{[{$index+1}]}
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-click="addOrangeIP()" data-ng-show="($index+1) == orange_cidr_cnt"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="orange_cidr_cnt > 1 && ($index+1) == orange_cidr_cnt"
																												data-ng-click="delOrangeIP()"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">-</button>
																										</th>
																										
																										<td style="width: 30%;background-color: #F8F8F8">
																											<input type="text" class="form-control" placeholder="ex) 192.168.0.1" id="orange_ip{[{$index}]}"
																												data-ng-model="orange_ip[$index]" style="width: 100%;height:24px;"/></td>
																										<td style="width: 5%;background-color: #F8F8F8;padding-left: 11px;padding-top: 8px;">/</td>
																										<td style="width: 10%;background-color: #F8F8F8">
																											<select style="width : 100%;height:24px;" data-ng-model="orange_cidr[$index]" id="orange_cidr{[{$index}]}">
																												<option data-ng-repeat="k in range(0,32)" data-ng-value="k">{[{k}]}</option>
																											</select>
																										</td>
																									</tr>
																									
																									<tr data-ng-if="orange_cnt > 0">
																										<th style="width: 55%;vertical-align: middle;">ORANGE Proxy ARP
																										</th>
																										<td style="background-color: #F8F8F8;text-align: center;" colspan="3">
																											<input type="checkbox" id="br1_proxys0" data-ng-click="ch_check()">
																										</td>
																									</tr>
																									
																								</thead>
																							</table>
																							</div>
																						</tab>
																						
																						<tab heading="BLUE">
																							<div style="overflow-y: scroll; width: 100%; height: 240px; padding: 4px; border: 1px solid #eee;">
																							<select style="width: 100px;height:24px;" id="blue_type" data-ng-model="blue_vlan_type" data-ng-change="vlan_set()">
																								<option value="고객사무실">고객사무실</option>
																								<option value="국사">국사</option>																																																
																							</select>
																							<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="zone_cnt < 4 && blue_cnt == 0"
																												data-ng-click="addBlue()"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">추가</button>
																							<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="blue_cnt == 1"
																												data-ng-click="delBlue()"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">제거</button>
																							<table class="table table-bordered"
																								style="width: 100%;margin-bottom:0px;">
																								<thead>
																							
																									<tr data-ng-repeat="n in range2(1,blue_cnt) track by $index">
																										<th style="width: 55%;vertical-align: middle;">BLUE VLAN #{[{n}]}
																										<button class="btn btn-sm btn-primary pull-right" type="button"
																															data-ng-show="zone_cnt < 4 && blue_cnt == ($index+1)"
																															data-ng-click="addBlue()"
																															id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																										<button class="btn btn-sm btn-primary pull-right" type="button"
																															data-ng-show="blue_cnt > 1 && blue_cnt == ($index+1)"
																															data-ng-click="delBlue()"
																															id="wid-utm-provision-btn_provison" style="font-size : 8px; ">-</button>
																										</th>
																										<td style="width: 45%;background-color: #F8F8F8" colspan="3">
																											<ul class="nav">
																												<li class="dropdown">
																											        <input id="blue_vlan_value{[{$index}]}" data-ng-model="blue_vlans[$index]" type="number" class="combobox" min="1" max="1100" placeholder="ex) 121" class="dropdown-toggle" data-toggle="dropdown" style="width: 100%;padding: 3px 12px;height: 24px;">
																											        <!-- <ul class="dropdown-menu" role="menu" id="dropdown-menu" style="height: 100px; overflow-y: auto; width: 100%">
																											            <li data-ng-repeat="v in vlanList" class="combobox-item" data-ng-click="blue_vlans[n-1] = v.vlan">{[{v.vlan}]}</li>
																											        </ul> -->
																											    </li>
																											</ul>
																										</td>
																									</tr>
																									
																									<tr data-ng-repeat="n in range2(1,blue_cidr_cnt) track by $index" data-ng-if="blue_cnt > 0">
																										<th style="width: 55%;vertical-align: middle;">BLUE IP #{[{$index+1}]}
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-click="addBlueIP()" data-ng-show="($index+1) == blue_cidr_cnt"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">+</button>
																											<button class="btn btn-sm btn-primary pull-right" type="button"
																												data-ng-show="blue_cidr_cnt > 1 && ($index+1) == blue_cidr_cnt"
																												data-ng-click="delBlueIP()"
																												id="wid-utm-provision-btn_provison" style="font-size : 8px; ">-</button>
																										</th>
																										
																										<td style="width: 30%;background-color: #F8F8F8">
																											<input type="text" class="form-control" placeholder="ex) 192.168.0.1" id="blue_ip{[{$index}]}"
																												data-ng-model="blue_ip[$index]" style="width: 100%;height:24px;"/></td>
																										<td style="width: 5%;background-color: #F8F8F8;padding-left: 11px;padding-top: 8px;">/</td>
																										<td style="width: 10%;background-color: #F8F8F8">
																											<select style="width : 100%;height:24px;" data-ng-model="blue_cidr[$index]" id="blue_cidr{[{$index}]}">
																												<option data-ng-repeat="k in range(0,32)" data-ng-value="k">{[{k}]}</option>
																											</select>
																										</td>
																									</tr>
																									
																									<tr data-ng-if="blue_cnt > 0">
																										<th style="width: 55%;vertical-align: middle;">BLUE Proxy ARP
																										</th>
																										<td style="background-color: #F8F8F8;text-align: center;" colspan="3">
																											<input type="checkbox" id="br2_proxys0" data-ng-click="ch_check()">
																										</td>
																									</tr>
																								</thead>
																							</table>
																							</div>
																						</tab>
																						
																						<tab heading="HOST">
																							<div style="overflow-y: scroll; width: 100%; height: 240px; padding: 4px; border: 1px solid #eee;">
																							<table class="table table-bordered"
																								style="width: 100%;margin-bottom:0px;">
																								<thead>
																									<tr>
																										<th style="width: 55%;vertical-align: middle;">HOST NAME
																										</th>
																										<td style="background-color: #F8F8F8;text-align: center;">
																											<input type="text" id="hostname" data-ng-change="ch_etc()" data-ng-model="hostname" style="width: 100%;height:24px;"/>
																										</td>
																									</tr>
																									<tr>
																										<th style="width: 55%;vertical-align: middle;">DOMAIN NAME
																										</th>
																										<td style="background-color: #F8F8F8;text-align: center;">
																											<input type="text" id="domainname" data-ng-change="ch_etc()" data-ng-model="domainname" style="width: 100%;height:24px;"/>
																										</td>
																									</tr>
																								</thead>
																							</table>
																							</div>
																						</tab>
																					</tabset>
																			<div class="modal-footer" style="width: 100%;margin-top:0px; padding-bottom:5px;padding-top:5px;">
																				<button type="button" class="btn btn-primary" data-ng-click="detailOkBtn()">저장</button>
																				<button type="button" class="btn btn-default" data-ng-click="closeBtn()">닫기</button>
																			</div>
																		</div>
																	</div>
																	<div data-ng-show="fixDetail">
																		<div id="fix"
																			style="{[{css}]}"
																			class="popover fade right in col-xs-12 col-sm-12 col-md-12 col-lg-12">
																			<div class="arrow"></div>
																			<h3 class="popover-title">{[{fixSubname}]} 설정</h3>
																			<div class="popover-content" style="width: 100%;padding-bottom:0px;padding-top:0px;">
																				<div class="modal-body" style="width: 100%;padding-bottom:10px;padding-top:10px;padding-left:0px;padding-right:0px;">
																					<div style="{[{modalBodyCss}]}">
																					<table class="table table-bordered">
																						<thead>
																							<tr data-ng-repeat="item in fixDetailItem">
																								<th style="width: 45%;vertical-align: middle;">{[{item.display_name}]}</th>
																								<td style="background-color: #F8F8F8">
																									<div id="{[{item.display_name}]}" class="form-control">{[{item.default_value}]}</div>
																									
																							</tr>
																						</thead>
																					</table>
																					</div>
																				</div>
																				<div class="modal-footer" style="width: 100%;margin-top:0px; padding-bottom:5px;padding-top:5px;">
																					<button type="button" class="btn btn-default" data-ng-click="closeBtn()">닫기</button>
																					<button type="button" class="btn btn-primary" data-ng-click="detailOkBtn()">수정</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="widget-footer"
											style="padding: 4px; background-color: #fff;">
											<button type="button" class="btn btn-danger pull-left" data-ng-show="provisionDelBtn"
												data-ng-click="provisionDelCheck()">해지</button>
											<button class="btn btn-sm btn-primary" type="button"
												id="wid-utm-provision-btn_connect">UTM-Connect</button>
											<button class="btn btn-sm btn-primary" type="button" data-ng-show="provisionBtn" data-ng-click="requestProvisioning()"
												id="wid-utm-provision-btn_provison">Provisioning</button>
										</div>
									</div>
								</div>
							</div>
						</article>
						<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">							
							<div class="jarviswidget jarviswidget-color-greenLight"
										data-widget-editbutton="false" data-widget-colorbutton="false"
										data-widget-deletebutton="false" data-ng-show="configuration">
									<header>
										<h2>
											<strong>UTM</strong> 설정
										</h2>
									</header>
									<div>
										<div class="jarviswidget-editbox">
										</div>
										<div class="widget-body no-padding">
											<div class="tab-content padding-10 ">
												<div class="" id="hr2"
													style="overflow-y: scroll; width: 100%; height: 200px; padding: 4px; border: 1 solid #000000;">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th style="width: 45%;vertical-align: middle;background:#bbbbbb;">RED VLAN</th>
																<td style="background-color: #bbbbbb">
																	<input type="text" class="form-control" placeholder="" 
																		data-ng-model="eth1_vlan.value" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															<tr>
																<th style="width: 45%;vertical-align: middle;background:#bbbbbb;">Default Gateway</th>
																<td style="background-color: #bbbbbb">
																	<input type="text" class="form-control" placeholder=""
																		data-ng-model="eth1_gateway.value" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr data-ng-repeat="cidr1 in eth1_cidr.value track by $index">
																<th style="width: 45%;vertical-align: middle;background:#bbbbbb;">RED IP #1
																</th>
																<td style="background-color: #bbbbbb">
																	<input type="text" class="form-control" placeholder="" 
																		value="{[{eth1_cidr_start[0]}]}/{[{eth1_cidr_end[0]}]}" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															<tr data-ng-repeat="add_eth1 in eth1_cidrs track by $index">
																<th style="width: 45%;vertical-align: middle;background:#bbbbbb;">RED IP #{[{$index+2}]}
																</th>
																<td style="background-color: #bbbbbb">
																	<input type="text" class="form-control" placeholder=""
																		value="{[{eth1_cidrs[$index]}]}/{[{eth1_cidrs_end[$index]}]}" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr>
																<th style="width: 55%;vertical-align: middle;background:#bbbbbb;">DNS1
																</th>
																<td style="background-color: #bbbbbb;text-align: center;">
																	<input type="text" class="form-control" placeholder="" data-ng-model="dns1" id="dns1_0" style="width: 100%;height:24px;" disabled="disabled"/>
																</td>
															</tr>
															<tr>
																<th style="width: 55%;vertical-align: middle;background:#bbbbbb;">DNS2(optional)
																</th>
																<td style="background-color: #bbbbbb;text-align: center;">
																	<input type="text" class="form-control" placeholder="" data-ng-model="dns2" id="dns2_0" style="width: 100%;height:24px;" disabled="disabled"/>
																</td>
															</tr>
																													
															<tr data-ng-repeat="n in range2(1,green_cnt) track by $index">
																<th style="width: 45%;vertical-align: middle;background:#dddddd;">GREEN VLAN #{[{n}]}</th>
																<td style="background-color: #dddddd">
																	<input type="text" class="form-control" placeholder=""
																		data-ng-model="green_vlans[$index]" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr data-ng-repeat="n in range2(1,green_cidr_cnt) track by $index">
																<th style="width: 45%;vertical-align: middle;background:#dddddd;">GREEN IP #{[{$index+1}]}
																</th>
																<td style="background-color: #dddddd">
																	<input type="text" class="form-control" placeholder=""
																		value="{[{green_ip[$index]}]}/{[{green_cidr[$index]}]}" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr>
																<th style="width: 55%;vertical-align: middle;background:#dddddd;">GREEN Proxy ARP
																</th>
																<td style="background-color: #dddddd;text-align: center;">
																	<input type="checkbox" id="br0_proxys1" disabled="disabled"/>
																</td>
															</tr>
															
															<tr data-ng-repeat="n in range2(1,orange_cnt) track by $index">
																<th style="width: 45%;vertical-align: middle;background:#ffffff;">ORANGE VLAN #{[{n}]}</th>
																<td style="background-color: #ffffff">
																	<input type="text" class="form-control" placeholder=""
																		data-ng-model="orange_vlans[$index]" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr data-ng-repeat="n in range2(1,orange_cidr_cnt) track by $index">
																<th style="width: 45%;vertical-align: middle;background:#ffffff;">ORANGE IP #{[{$index+1}]}
																</th>
																<td style="background-color: #ffffff">
																	<input type="text" class="form-control" placeholder=""
																		value="{[{orange_ip[$index]}]}/{[{orange_cidr[$index]}]}" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr data-ng-if="orange_cnt > 0">
																<th style="width: 55%;vertical-align: middle;background:#ffffff;">ORANGE Proxy ARP
																</th>
																<td style="background-color: #ffffff;text-align: center;">
																	<input type="checkbox" id="br1_proxys1" disabled="disabled"/>
																</td>
															</tr>
															
															<tr data-ng-repeat="n in range2(1,blue_cnt) track by $index">
																<th style="width: 45%;vertical-align: middle;background:#aaaaaa;">BLUE VLAN #{[{n}]}</th>
																<td style="background-color: #aaaaaa">
																	<input type="text" class="form-control" placeholder=""
																		data-ng-model="blue_vlans[$index]" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr data-ng-repeat="n in range2(1,blue_cidr_cnt) track by $index">
																<th style="width: 45%;vertical-align: middle;background:#aaaaaa;">BLUE IP #{[{$index+1}]}
																</th>
																<td style="background-color: #aaaaaa">
																	<input type="text" class="form-control" placeholder=""
																		value="{[{blue_ip[$index]}]}/{[{blue_cidr[$index]}]}" style="width: 100%;height:24px;" disabled="disabled"/></td>
															</tr>
															
															<tr data-ng-if="blue_cnt > 0">
																<th style="width: 55%;vertical-align: middle;background:#aaaaaa;">BLUE Proxy ARP
																</th>
																<td style="background-color: #aaaaaa;text-align: center;">
																	<input type="checkbox" id="br2_proxys1" disabled="disabled"/>
																</td>
															</tr>
															
															<tr>
																<th style="width: 55%;vertical-align: middle;background:#bbbbbb;">HOST NAME
																</th>
																<td style="background-color: #bbbbbb;text-align: center;">
																	<input type="text" class="form-control" placeholder="" data-ng-model="hostname" id="hostname_0" style="width: 100%;height:24px;" disabled="disabled"/>
																</td>
															</tr>
															<tr>
																<th style="width: 55%;vertical-align: middle;background:#bbbbbb;">DOMAIN NAME
																</th>
																<td style="background-color: #bbbbbb;text-align: center;">
																	<input type="text" class="form-control" placeholder="" data-ng-model="domainname" id="domainname_0" style="width: 100%;height:24px;" disabled="disabled"/>
																</td>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="jarviswidget jarviswidget-color-greenLight" id="stepLogs"
									data-widget-editbutton="false" data-widget-colorbutton="false"
									data-widget-deletebutton="false">
								<header>
									<h2>
										<strong>Provisioning</strong> 실행이력
									</h2>
								</header>
								<div>
									<div class="jarviswidget-editbox">
									</div>
									<div class="widget-body no-padding">
										<div class="tab-content padding-10 ">
											<div class="" id="log"
												style="overflow-y: scroll; width: 100%; height: 200px; padding: 4px;
														background-color : #f8f8f8; border: 1 solid #000000;">
												<div data-ng-repeat="console in consoleLog">
													<p data-ng-if="console.step%2 == 1"><strong><font color="#D2691E">{[{console.message}]}</font></strong></p>
													<p data-ng-if="console.step%2 == 0"><strong><font color="#000080">{[{console.message}]}</font></strong></p>
													<p data-ng-if="console.step == 'fail'"><strong><font color="#FF0000">{[{console.message}]}</font></strong></p>
													<p data-ng-if="console.step == 'succ'"><strong><font color="#FF8200">{[{console.message}]}</font></strong></p>
													<p data-ng-if="console.step == 'delSucc'"><strong><font color="#FF8200">{[{console.message}]}</font></strong></p>
													<p></p>
												</div>
											</div>
										</div>
										<div style="text-align: right">
											<button data-ng-show="provisionseq != '0'" class="btn btn-sm btn-primary" style="margin-bottom: 10px; margin-right: 10px;" type="button" data-ng-click="winPopup()"
												id="wid-utm-provision-btn_provison">실행이력</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</section>
			</div>
		</div>
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

		<script src="../static/lib/js/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<!-- PAGE RELATED PLUGIN(S) -->
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/nfvProvisioning2.js"></script>
		<script>
			var userid = "{{username}}";
			var pseq = "{{prov}}";
			var orgName = "{{orgName}}";
			var templateseq = "{{template}}";
			var orgSeq = "{{org}}";
			var provisionUserid = "{{provisionUserid}}";
			
			function winpop(){
				window.open("/monitor/nfvmonitoring","monitoring");
			}
			function winpop2(){
				window.open("/monitor/nfvmonitoringSecond","nfvmonitoringSecond");
			}
			function winpop3(){
				window.open("/monitor/nfvmonitoringThird","nfvmonitoringThird");
			}
		</script>
	</body>
</html>