.hidden {
	visibility : hidden;
}

.x-btn-inner-default-toolbar-small{
	font : normal 11px/16px Nanum Gothic;
}

.x-grid-tree-node-expanded .x-tree-icon-parent{
	background-image: url('../img/folder-open.png') !important;
}

.x-tree-icon-parent{
	background-image: url('../img/folder-close.png') !important;
}

.x-tree-node-text,
.x-tab-inner-default{
	font : normal 13px/14px Nanum Gothic;
}

.x-panel-header-title-default{
	font : bold 13px/14px Nanum Gothic;
}

.x-column-header-text{
	font : normal 12px/14px Nanum Gothic;
}

.x-grid-cell-inner{
	font : normal 11px/14px Nanum Gothic;
}

.x-btn-default-toolbar-small,
.x-btn-over.x-btn-default-toolbar-small,
.x-btn-focus.x-btn-default-toolbar-small,
.x-btn-focus.x-btn-over.x-btn-default-toolbar-small{
	border: 0;
}

.x-tree-icon-leaf{
	width: 10px;
}

.x-tab-active .x-tab-inner-default{
	font-weight: bold;
}

.menu {
	border: 1px solid black;
	background-color: #ececec;
	display: none;
	position: relative;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	z-index: 100001;
}

.menu,
.menu li {
	padding: 5px;
	margin: 0px;
}

.menu li {
	color: #000000;
}

.menu > li:hover {
	background-color: lightblue;
	color: #000000;
}

.menu li {
	display: none;
}

.menu.vmmenu li.vmmenu ,
.menu.componentmenu li.componentmenu ,
.menu.custvm li.custvm ,
.menu.svg li.svg li,
.menu.rect li.rect ,
.menu.circle li.circle li,
.menu.circle li.circle {
	display: block;
}

.menu li ul {
	display:none;
}
.menu li:hover ul {
	display:inline-block;
	position: relative;
	top: 0;
}

.blink {
	fill: #ca4011;
	stroke: #ffff00;
	stroke-width: 2px;
	animation: blink 2s steps(2, start) infinite;
	-webkit-animation: blink 2s steps(2, start) infinite;
}

@keyframes blink {
	to {
		stroke: #fd4040;
	}
}
@-webkit-keyframes blink {
	to {
		stroke: #fd4040;
	}
}

.svg_blink {
	stroke: #ffff00;
	stroke-width: 3px;
	animation: blink 2s steps(2, start) infinite;
	-webkit-animation: blink 2s steps(2, start) infinite;
}

@keyframes svg_blink {
	to {
		stroke: #fd4040;
	}
}
@-webkit-keyframes svg_blink {
	to {
		stroke: #fd4040;
	}
}

.error {
	color: #ff0000;
}

.unknown {
	fill : #595959;
	stroke : #495959;
}

.btn_ccc{
	border: 1px solid #ddd;
	height:28px;
	border-radius: 1px;
	text-align: center;
	color: #999;
	margin-bottom: 0px;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.05);
	text-shadow: 0px 0px 0px rgba(255,255,255,0.75);
	background-image: linear-gradient(rgb(251, 251, 251), rgb(241, 241, 241));
	background-repeat: repeat-x;
	background-color: rgb(245, 245, 245);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.grid {
	background-image: url('../img/grid.png') !important;
}

.graphic {
	background-image: url('../img/graphic.png') !important;
}

.trace {
	background-image: url('../img/Windows-Table-icon.png') !important;
}

.switch {
	background-image: url('../img/switch.png') !important;
}

.server {
	background-image: url('../img/server-icon.png') !important;
}

.network {
	background-image: url('../img/network-icon.png') !important;
}

.images {
	background-image: url('../img/imgcd-icon.png') !important;
}

.infras {
	background-image: url('../img/infra-icon.png') !important;
}

.auth {
	background-image: url('../img/ok-icon.png') !important;
}



.is_error {
	background-image: url('../img/delete.gif') !important;
	text-align: center;
}

.is_not_error {
	background-image: url('../img/accept.gif') !important;
}

audio {
	width: 0px;
	height: 0xp;
}

.center_icon {
	text-align: center;
}

a {
	color: #0000ff;
}

pre {
	white-space: normal;
	border: 0;
	padding: 0;
	margin: 2px;
}

.fa.fa-gear {
	color: gray;
	font-size: 34px;
}

.fa.fa-gear.fa-spin {
	color: green;
	font-size: 34px;
}