.jarviswidget-color-blue>header>.jarviswidget-ctrls a, .jarviswidget-color-blue .nav-tabs li:not(.active) a {
	color : #333!important;
	cursor: pointer;
}

.dropdown-menu>li{
    cursor:pointer;
}
.dropdown-menu {
    padding-left:2px;
    right: auto;
    top:23px
}
.combobox-item{
    color:#aaa;
}
.combobox-item:hover{
    color:#000;
}