pre {
	background-color: rgba(255, 255, 0, 0);
	border: 0;
	padding: 0;
	margin: 0;
}

.x-btn-inner-default-toolbar-small{
	font : normal 11px/16px Nanum Gothic;
}

.x-tree-node-text,
.x-tab-inner-default{
	font : normal 13px/14px Nanum Gothic;
}

.x-panel-header-title-default{
	font : bold 13px/14px Nanum Gothic;
}


.x-column-header-text{
	font : normal 12px/14px Nanum Gothic;
}

.x-grid-cell-inner{
	font : normal 11px/14px Nanum Gothic;
}

#viewLoading {
	position: absolute;
	text-align: center;
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	filter: alpha(opacity=60);
	opacity: alpha*0.6;
}

.is_fail {
	background-image: url('../img/delete.gif') !important;
}

.is_success {
	background-image: url('../img/accept.gif') !important;
}

.title-column {
	background-color: #abc7ec;
	font-weight: bold;
}

.content-column {
	background-color: #ffffff;
}

.white_row {
	background-color: #ffffff;
}

.blue_row {
	background-color: #efefef;
}

a {
	color: #0000ff;
}