table {
	border-collapse: collapse;
	height: 700px;
	width: 100%;
}

th, td {
	border: 1px solid black;
}

th {
	padding: 1px;
	height: 20px;
	background-color: darkgray;
	font-size: 20px;
}

td {
	padding: 5px;
	background-color: #f5f5f5;
}

pre {
	border: 0;
	white-space: pre-line;
}

#viewLoading {
	position: absolute;
	text-align: center;
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	filter: alpha(opacity=60);
	opacity: alpha*0.6;
}