<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>GiGA Office 모니터링</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="../static/lib/css/Open-Sans.css">
		
		<link rel="stylesheet" href="../static/lib/css/nanumgothic.css">
		
		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="image/x-icon">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/ext-theme-classic-all.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/statusbar.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/tipsy.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/nfvmonitoring.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/example.css">
		
		<script type="text/javascript" src="../static/lib/SmartAdmin/js/ext-all.js"></script>
		<script type="text/javascript" src="../static/lib/SmartAdmin/js/StatusBar.js"></script>
		
		<script src="../static/lib/js/jquery-1.11.2.min.js"></script>
		
		<script src="../static/lib/js/d3.v3.min.js"></script>
		<script type="text/javascript" src="../static/lib/SmartAdmin/js/jquery.tipsy.js"></script>


		<script src="../static/js/nfvMonitoring3.js"></script>
		<script src="../static/lib/js/examples.js"></script>
		<script src="../static/js/monitoring/webSocket.js"></script>
		<script src="../static/js/monitoring/contextmenu.js"></script>
		<script src="../static/js/monitoring/graphicview.js"></script>
		<script type="text/javascript">
			var userid = "{{username}}";
			var socket_url = "{{socket_url}}";
			var ssh_url = "{{ssh_url}}";
			var userauth = "{{userauth}}";
		</script>
	</head>

	<body>
		<div style="height: 100px;">
			<audio id="beep" src="../static/sound/beep.wav" controls preload="auto" autobuffer></audio>
		</div>
		<div id="master_view">
		</div>
		<div id="detail_view">
		</div>
	</body>
</html>