<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>실행이력 정보</title>
		
		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		
		<link rel="stylesheet" href="../static/lib/css/Open-Sans.css">
		
		<link rel="stylesheet" href="../static/lib/css/nanumgothic.css">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/ext-theme-classic-all.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/statusbar.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/nfvTrace.css">
		
		<script type="text/javascript" src="../static/lib/SmartAdmin/js/ext-all.js"></script>
		<script type="text/javascript" src="../static/lib/SmartAdmin/js/StatusBar.js"></script>
		
		<script src="../static/lib/js/jquery-1.11.2.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>
		<script src="../static/js/nfvTrace.js"></script>
		<script type="text/javascript">
			var seq = "{{seq}}";
			var comm = "{{comm}}";
			var end = "{{end}}";
			var titles = "{{titles}}";
			var org = "{{org}}";
		</script>
	</head>
	<body>
		
		<div id="viewLoading">
		    <img src="../static/img/viewLoading.gif" width="60" height="60">
		</div>	
	</body>
</html>