<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>룰 비교</title>		
	
		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">
		
		<link rel="stylesheet" href="../static/lib/css/nanumgothic.css">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/ext-theme-classic-all.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/ruleCompare.css">
		
		<script type="text/javascript" src="../static/lib/SmartAdmin/js/ext-all.js"></script>
		
		<script src="../static/lib/js/jquery-1.11.2.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>
		<script src="../static/js/ruleCompare.js"></script>
		<script type="text/javascript">
			var seq = "{{seq}}";
			var reg = "{{reg}}";
		</script>
	</head>
	<body>
		
		<div id="viewLoading">
		    <img src="../static/img/viewLoading.gif" width="60" height="60">
		</div>
		<div>
			<table>
				<tr>
					<th width="50%">원본 룰</th>
					<th width="50%">변환 룰</th>
				</tr>
				<tr>
					<td>
						<div id="original" style="width: 100%; height: 100%; overflow-y:scroll;"></div>
					</td>
					<td>
						<div id="change" style="width: 100%; height: 100%; overflow-y:scroll;"></div>
					</td>
				</tr>				
			</table>
		</div>
	</body>
</html>