<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>NFV제어시스템</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-store">
		<meta http-equiv="Pragma" content="no-cache">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">
		<script src="../static/lib/ckeditor/ckeditor.js"></script>
		
	</head>
	<body class="">
		<!-- HEADER -->
		<header id="header">
			<div id="logo-group">
				<div id="logo">
					<a href="/index">
					<img src="../static/lib/SmartAdmin/img/logo_l.png" alt="GiGA Office 서비스제어 플랫폼"></a>
				</div>
				<div class="ajax-dropdown">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="../static/lib/SmartAdmin/ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>

					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>
					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>

				</div>
			</div>

			<div class="pull-right">
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/logout" title="로그아웃"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<div id="board-menu" class="btn-header pull-right">
					<span> <a href="/board/boardPage" title="게시판"><i class="fa fa-edit"></i></a> </span>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="j_spring_security_logout"><i class="fa fa-angle-down"></i>&nbsp;&nbsp; </a>
						<ul class="dropdown-menu">
							<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
								<a href="/user/userManage?seq=1">회원정보수정</a>
							</li>
							<li>
								<a href="/logout">로그아웃</a>
							</li>
							
						</ul>
					</li>
				</ul>
				<div id="board" class="btn-header transparent pull-right" style="margin-top: 14px; text-align: right; width: 250px;">
					<span> <strong> {{username}} </strong></span>
				</div>
			</div>
		</header>
		<aside id="left-panel">
			<nav>
				<ul>
					<li>
						<a href="/index" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
					</li>
					<li>
						<a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">인벤토리 관리</span></a>
						<ul id="lp_service_template">
							<!-- <li id="lp_inventory_template" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1'"><a href="/template/templatePage">템플릿 관리</a></li>
							<li id="lp_inventory_appliance" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1'"><a href="/appliance/appliancePage">Appliance 관리</a></li> -->
							<!-- <li id="lp_inventory_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_inventory_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li> -->
							<!-- <li id="lp_inventory_org" data-ng-if="{{userauth}} == '0'"><a href="/org/orgManage">국사 관리</a></li> -->
							<li id="lp_inventory_vlan" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/vlan/vlanManage">VLAN 관리</a></li>
							<!-- <li id="lp_inventory_ip" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1'"><a href="/ip/ipManage">IP 관리</a></li> -->
							<li id="lp_inventory_switch" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/switch/switchManage">스위치 관리</a></li>
							<li id="lp_inventory_utm" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/utm/utmManage">UTM 관리</a></li>
							<li id="lp_inventory_utm_conn" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/utmConn/utmConnManage">UTM 연결 관리</a></li>
							<li id="lp_inventory_ha" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'"><a href="/ha/haManage">HA 그룹 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Provisioning"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">서비스 Provisioning</span></a>
						<ul id="lp_service_ul">
							<li id="lp_service_cust">
								<a href="/cust/custManage" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'">고객 등록</a>
							</li>
							<li id="lp_service_nfv" data-ng-if="{{username}} != ''">
								<a href="/provisioning/nfvProvisioning">UTM 개통 관리</a>
							</li>
							<li id="lp_service_list" data-ng-if="{{username}} != ''">
								<a href="/order/orderManage">개통 목록 관리</a>
							</li>
							<li id="lp_service_custServer" data-ng-show="0">
								<a href="/cust/custServer">고객사서버 관리</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="Service Monitoring"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">서비스 Monitoring</span></a>
						<ul id="monitoring_ul">
							<li id="monitoring" data-ng-if="{{userauth}} == '0' || {{userauth}} == '1' || {{userauth}} == '99'">
								<a href="#" onclick="winpop3()">서비스 상태 조회</a>
							</li>
							<li id="lp_inventory_action" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/action/actionManage">작업이력 관리</a></li>
						</ul>
					</li>
					<li data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'">
						<a href="#" title="User Management"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">사용자 관리</span></a>
						<ul id="lp_user_template">
							<li id="lp_user_user" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/user/userManage?seq=0">사용자 관리</a></li>
							<li id="lp_user_sms" data-ng-if="{{userauth}} == '0' || {{userauth}} == '99'"><a href="/sms/smsManage">SMS수신자 관리</a></li>
						</ul>
					</li>
					<li>
						<a href="#" title="Board"><i class="fa fa-lg fa-fw fa-clipboard"></i> <span class="menu-item-parent">게시판</span></a>
						<ul id="board_ul">
							<li id="boardPage">
								<a href="/board/boardPage">Q & A</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<!-- END NAVIGATION -->
		

		<!-- MAIN PANEL -->
		<div id="main" role="main" data-ng-controller="BoardService" data-ng-init="init()">
			<!-- RIBBON -->
			<div id="ribbon">
				<span class="ribbon-button-alignment"> <span id="refresh"
					class="btn btn-ribbon" rel="tooltip"
					data-placement="bottom"
					data-html="true"><i class="fa fa-refresh"></i></span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Q & A</li>
				</ol>
				<span class="ribbon-button-alignment pull-right">
				</span>

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content" >
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa-fw fa fa-home"></i> Q & A 
						</h1>
					</div>
				</div>
				<section id="widget-grid" class="">
					<div class="row">
						<article  id="order" 
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-greenDark"
								id="wid-list-utm" data-widget-colorbutton="false"
								data-widget-editbutton="false" data-widget-deletebutton="false">
								<header>
									<h2>
										<strong>Q & A</strong>
									</h2>
								</header>
								<div>
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
										<input class="form-control" type="text"> <span
											class="note"><i class="fa fa-check text-success"></i>
											</span>
									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label style="width: 50px; text-align: right;">작성자</label>
													<input type="text" data-ng-model="searchUserId">
													<label style="width: 50px; text-align: right;">제 목</label>
													<input type="text" data-ng-model="searchTitle">
													<label style="width: 50px; text-align: right;">내 용</label>
													<input type="text" data-ng-model="searchContent">
												<!-- /div>
												<div class="col-xs-3 col-sm-7 col-md-7 col-lg-5 text-right" -->
													<button style="height:24px; margin-top: -2px; margin-left: 10px;" class="btn btn-success" data-ng-click="paging(1)">
														검 색
													</button>
												</div>
											</div>
										</div>
										<div  class="table-responsive">
											<!--
											<table class="table table-bordered">
											 -->
											<table class="table table-striped table-hover">
												<colgroup>
													<col width="5%">
													<col width="25%">
													<col width="35%">
													<col width="5%">
													<col width="10%">
													<col width="20%">
												</colgroup>
												<thead>
													<tr>
														<th style=" text-align: center;border-right: 1px solid lightgray;">번호</th>
														<th style=" text-align: center">제목</th>
														<th style=" text-align: center">내용</th>
														<th style=" text-align: center">파일첨부</th>
														<th style=" text-align: center">작성자</th>
														<th style=" text-align: center">작성일</th>
													</tr>
												</thead>
												<tbody>
													<tr data-toggle="modal" data-ng-repeat="board in boardList" data-ng-click="boardDetail(board.boardseq)"
														data-target="#insertBoard"style="cursor: pointer;">
														<td style=" text-align: center;border-right: 1px solid lightgray;">
															{[{board.boardseq}]}
														</td>
														<td align="center">
															{[{board.title}]}
														</td>
														<td align="center" data-ng-bind-html="board.content | unsafe">
														</td>
														<td style=" text-align: center"><i data-ng-if="board.filepath != ',' && board.filepath != ''" class="fa fa-file"></i></td>
														<td style=" text-align: center">{[{board.userid}]}</td>
														<td style=" text-align: center">{[{board.regdttm}]}</td>
													</tr>
												</tbody>
											</table>
										</div>
										
									</div>
									<!-- end widget content -->
								</div>
								<!-- end widget div -->
							</div>
							<!-- end widget -->
							
							<div class="col-sm-12 col-lg-12 col-xs-12" style="text-align: center;">
								<button class="btn btn-success pull-right" data-toggle="modal"
									data-target="#insertBoard" data-ng-click="addBoard()">
									글쓰기
								</button>
								<ul class="pagination pagination-sm" style="margin-top:0px; ">
									<li data-ng-if="start==1"></li>
									<li data-ng-if="start!=1">
										<a data-ng-click="paging(start-1)" style="cursor: pointer;">&laquo;</a>
									</li>
									<li id="current{[{i.page}]}" data-ng-repeat="i in pages">
										<a data-ng-click="paging(i.page)" style="cursor: pointer;">{[{i.page}]}</a>
									</li>
									<li data-ng-if="end % 5 == 0 && pageNum>end">
										<a data-ng-click="paging(end+1)" style="cursor: pointer;">&raquo;</a></li>
									<li data-ng-if="end % 5 != 0 && end == pageNum"></li>
								</ul>
							</div>
							
						</article>
					</div>
					<!-- row -->
					<!-- end row -->
				</section>
				<!-- end widget grid -->
			</div>
			<!-- END MAIN CONTENT -->
			<div class="modal fade" id="insertBoard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="width: 700px; height: 700px;">
						<div class="modal-header" style="height: 40px;">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel"><b>{[{modalTitle}]}</b></h4>
						</div>
						<div class="modal-body" style="width: 700px; height: 580px;">
							<table class="table table-bordered">
								<tr>
									<th width="20%" style="text-align: center; vertical-align:inherit;">제목</th>
									<td width="80%" colspan="3" data-ng-show="titleInput">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="제목을 입력해 주세요." data-ng-model="boardTitle">
										</td>
									<td width="80%" colspan="3" style="height: 41px; padding-top: 10px; padding-left: 10px;" data-ng-show="titleNoinput">{[{boardTitle}]}</td>
								</tr>
								<tr>
									<th width="20%" style="text-align: center; vertical-align:inherit; height: 41px;">작성자</th>
									<td data-ng-if="userTd" width="30%" style="padding-left:10px; vertical-align:inherit;">
										{[{userid}]}
									</td>
									<td data-ng-if="userTd_in" width="30%" style="padding-left:5px; vertical-align:inherit;">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="작성자명을 입력해 주세요." data-ng-model="userid"></td>
									</td>
									<td width="20%" style="text-align: center; vertical-align:inherit;">Password</td>
									<td width="30%" style="text-align: center; vertical-align:inherit;">
										<input data-ng-show="passInput" type="password" class="form-control ng-pristine ng-invalid ng-invalid-required"
											placeholder="비밀번호를 입력해 주세요." data-ng-model="boardPass"></td>
								</tr>
								<tr data-ng-show="fileTr">
									<th width="20%" style="text-align: center; vertical-align:inherit;">첨부 파일</th>
									<td width="80%" colspan="3" style="height: 41px; padding-top: 10px; padding-left: 10px;">
										<a target="_self" download="../static/fileUpload/{[{filename}]}"href="../static/fileUpload/{[{filename}]}">{[{name}]}</a></td>
								</tr>
							</table>
							<div class="col-sm-12 form-horizontal smart-form" data-ng-show="boardUpload" style="height: 41px;">
								<div class="col-sm-2">
									<div class="input input-file" id="layout"
											style="padding-left:5px; font-size:15px; font-family :'돋움체'; font-weight: bold;padding-top: 10px;">
										<span >파일 업로드 </span>
									</div>
								</div>
								<form id="uploadBoardForm" enctype="multipart/form-data" action="/board/boardFileUpload" method="POST">
									{% module xsrf_form_html() %}
									<div class="col-sm-10" id="divFile">
										<div class="input input-file" id="layoutFile"style="padding-top: 5px;">
											<span class="button" style="height: 25px; margin-top: 5px;">
											<input type="file" id="file1" name="fnm" accept="image/gif,image/jpeg,image/bmp, image/png"
												onchange="$('#path1').val(this.value)"
												style="padding-top: 10px;"> 파일 경로
												<input type="hidden" id="number" name="number" value="">
											</span>
											<i class="icon-prepend fa fa-search" style="padding-top: 5px;"></i>
											<input id="path1" type="text" placeholder="파일 경로를 설정해 주세요.(20MB 이하)" value="">
										</div>
									</div>
								</form>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label><h4><strong>글내용</strong></h4></label>
										<div data-ng-show="ckeditor">
											<textarea rows="" cols="" id="boardContent"></textarea>
										</div>
										<div data-ng-show="detailDiv" style="border: 2px solid #d5d5d5; width: 660px; height: 400px; padding: 10px; overflow-y: scroll;">
											<div data-ng-bind-html="boardContent">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button data-ng-show="boardDelBtn" class="btn btn-default" data-dismiss={[{modalDel}]} data-ng-click="boardDel()">삭   제</button>
							<button data-ng-show="modifySubmitBtn" class="btn btn-default" data-dismiss={[{modalset}]} data-ng-click="modifySubmit()">확   인</button>
							<button data-ng-show="boardModifyBtn" class="btn btn-default" data-ng-click="boardModify()">수  정</button>
							<button data-ng-show="boardSubmitBtn" class="btn btn-default" data-dismiss="{[{modalSubmit}]}" data-ng-click="boardSubmit()">등  록</button>
							<button  class="btn btn-default" data-dismiss="modal" data-ng-click="modalClose()">
								취  소
							</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal-dialog END-->
		</div>
		<!-- END MAIN PANEL -->
		
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

		<script src="../static/lib/js/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>
		<!--[if IE 7]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/boardList.js"></script>
		<script>
			var username = "{{username}}";
			var userauth = "{{userauth}}";
			$('#boardPage').attr('class','active');

			$('#board_ul').attr('style', 'display:block;');
			$('#wid-utm-provision-btn_connect').hide();
			$('#utmCarousel').carousel({
				pause : true,
				interval : false
			});
			$("#main").css("visibility","visible");
			function winpop(){
				window.open("/monitor/nfvmonitoring");
			}
			function winpop2(){
				window.open("/monitor/nfvmonitoringSecond","nfvmonitoringSecond");
			}
			function winpop3(){
				window.open("/monitor/nfvmonitoringThird","nfvmonitoringThird");
			}
		</script>
	</body>
</html>