<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">

	<title>NFV제어시스템</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="Cache-Control" content="no-store">
	<meta http-equiv="Pragma" content="no-cache">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

	<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/your_style.css">

	<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
	<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

	<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

</head>
<body class="">

	<header id="header">

	  <article>
		<div id="ollehtoolbar" class="collapse navbar-collapse bg-color-white navbar-fixed-top"></div>

		<div id="logobar" class="collapse navbar-collapse bg-color-white ">
			<div class="container">
				<div id="logo-group">
					<span id="logo"> <a href="/"><img src="../static/lib/SmartAdmin/img/logo.png" alt="GiGA Office"></a> </span>
				</div>

				<div class="pull-right">

					<div id="search-mobile" class="btn-header transparent pull-right">
						<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
					</div>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="/board/boardPage"> Q&A &nbsp;&nbsp; </a>
						</li>
					</ul>

				</div>

			</div>
		</div>
	  </article>
	</header>
	<div id="topnav" class="row">
	  <article class="col-xs-12 col-sm-12">
		<div id="topnavbar" class="collapse navbar-collapse navbar-inverse">
			<div class="container">
				<ul class="nav navbar-nav">
					<li class="active">
					</li>
					<li class="dropdown dropdown-large">
						<ul class="dropdown-menu dropdown-menu-large row">
							<li class="col-sm-12">
									<ul>
									</ul>
								</li>
						</ul>

					</li>

					<li style="height: 50px;">
					</li>
				</ul>

				<form action="#search.html" class="header-search pull-right">
					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
				</form>
			</div>
		</div>
	  </article>
	</div>
	<div id="main" role="main">

		<div id="content" class="container">

           <br /><br /><br />

			<div class="row" style="margin-left:30%;margin-right:10%;">
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" style="width:500px;">
					<div class="well no-padding">

						<form action="/login" id="login_form" name="login_form" class="smart-form client-form" novalidate="novalidate" method="post" onSubmit="chk(); return false;">
							{% module xsrf_form_html() %}
							<header>
								로그인
							</header>

							<fieldset>

								<section>
									<label class="label">아이디</label>
									<label class="input"> <i class="icon-append fa fa-user"></i>
										<input type="email" name="j_username">
										<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> 아이디를 입력해 주세요.</b></label>
								</section>

								<section>
									<label class="label">비밀번호</label>
									<label class="input"> <i class="icon-append fa fa-lock"></i>
										<input type="password" name="j_password" autocomplete="off">
										<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 패스워드를 입력해 주세요.</b> </label>
								</section>

								<section>
									<label class="checkbox">
										<input type="checkbox" name="remember" value="false">
										<i></i>모니터링 페이지로 이동</label>
								</section>

							</fieldset>

							<footer>
								<button type="submit" class="btn btn-primary" >
									로 그 인
								</button>
							</footer>

						</form>

					</div>
				</div>
			</div>




           <br /><br /><br />


			</div>

	</div>


			<div id="" class=" ">
			<div class="footer_warp">
				<div class="col-sm-12 text-right">
					<div class="footer txt-color-black inline-block">
					사업자번호 102-81-42945, 통신판매업신고 제2002-경기성남-0048호, (주)케이티, 대표이사 황창규, 463-711 경기도 성남시 분당구 불정로 90 (정자동 206번지)
					<br>Copyright©2014 kt corp
					</div>
				</div>
			</div>
			</div>


	<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

	<script src="../static/lib/js/jquery.min.js"></script>
	<script>
		if (!window.jQuery) {
			document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
		}
	</script>

	<script src="../static/lib/js/jquery-ui.min.js"></script>
	<script>
		if (!window.jQuery.ui) {
			document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
		}
	</script>

	<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

	<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

	<script src="../static/lib/SmartAdmin/js/app.js"></script>

	<script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	
	function getCookie(name) {
	    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
	    return r ? r[1] : undefined;
	}

	$(document).ready(function() {
		pageSetUp();

		$.ajax({
	        type:'post',
	        data : {
		        _xsrf : getCookie("_xsrf")
	        },
	        dataType:'json',
	        url: '/error',
	        success: function(data) {
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	        	location.href='/error';
	        }
	    });
	});

	var userNameRule = /^[a-zA-Z0-9_]+$/;
	var userPassRule = /^[a-zA-Z0-9_!@#$%^*+=]+$/;

	function chk() {
		/* if (!userNameRule.test(document.login_form.j_username.value)) {
			document.login_form.j_username.value = '';
			document.login_form.j_password.value = '';
			return false;
		} else if (!userPassRule.test(document.login_form.j_password.value)) {
			document.login_form.j_password.value = '';
			return false;
		} else { */
		document.login_form.submit();
		/* } */
	}

	</script>

</body>

</html>