<html data-ng-app="ngApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>NFV제어시스템</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-skins.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/console.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/demo.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/table-fixed-header.css">

		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/css/Open-Sans.css">

		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/utm_service_op.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/timepicker.css">
		
	</head>
	<body>
		<div id="main" role="main" data-ng-controller="failService" data-ng-init="page(1)" style="height: 10px !important;min-height: 10px;">
			<div id="content" >
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
					</div>
				</div>
				<section id="widget-grid" class="">
					<div class="row">
						<article id="user" 
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="jarviswidget jarviswidget-color-greenDark"
								id="wid-list-utm" data-widget-colorbutton="false"
								data-widget-editbutton="false" data-widget-deletebutton="false">
								<header>
									<h2>
										<strong data-ng-show="types == 'HW'">절체</strong>
										<strong data-ng-show="types == 'NFV'">복구</strong>
									</h2>
								</header>
								<div>
									<div class="jarviswidget-editbox">
										<input class="form-control" type="text"> <span
											class="note"><i class="fa fa-check text-success"></i>
											Change title to update and save instantly!</span>
									</div>
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">
				<div class="row">							
					<div class="col-xs-6">
						<div class="input-group">
							<label for="detailaddr" data-ng-show="types == 'HW'" style="margin-right: 10px; margin-left: 10px;">절체 장비</label>
							<label for="detailaddr" data-ng-show="types == 'NFV'" style="margin-right: 10px; margin-left: 10px;">복구 장비</label>
							<select class="" style="width : 100%; height:24px;" data-ng-model="ip" id="ips">
								<option data-ng-repeat="fail in failList" data-ng-value="fail.utm_mgmt_ip">{[{fail.utm_name}]}</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<label for="detailaddr" style="margin-right: 10px; margin-left: 10px;">사유</label>
							<input type="text" data-ng-model="msg" style="width : 100%; height:24px;" id="msgs">
						</div>
					</div>
				</div>						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-ng-click="failClose()" data-dismiss="modal">취소</button>
				<button type="button" class="btn btn-primary" data-ng-click="failSubmit()">확인</button>
			</div>
		</div>
		</div>
		</div>
		</article>
		</div>
		</section>
		</div>
		</div>
		
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/lib/SmartAdmin/js/plugin/pace/pace.min.js"></script>

		<script src="../static/lib/js/jquery.min.js"></script>

		<script src="../static/lib/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="../static/lib/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>
		<script src="../static/lib/SmartAdmin/js/jquery.form.js"></script>

		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/notification/SmartNotification.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/select2/select2.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/plugin/fastclick/fastclick.js"></script>

		<script src="../static/lib/SmartAdmin/js/json2.js"></script>

		<script src="../static/lib/SmartAdmin/js/angular.min.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/demo.js"></script>

		<script src="../static/lib/SmartAdmin/js/app.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

		<script src="../static/lib/SmartAdmin/js/sorttable.js"></script>

		<script src="../static/lib/SmartAdmin/js/ngDraggable.js"></script>
		
		<script src="../static/lib/SmartAdmin/js/ngSanitize.js"></script>
		
		<script
			src="../static/lib/SmartAdmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColReorder.min.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ColVis.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/ZeroClipboard.js"></script>
		<script
			src="../static/lib/SmartAdmin/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/plugin/datatables/DT_bootstrap.js"></script>
		<script src="../static/js/fail.js"></script>
		<script>
			var orgs = "{{orgs}}";
			var office = "{{office}}";
			var types = "{{types}}";
		</script>
	</body>
</html>