<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>HW UTM 절체/복구 알림</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/smartadmin-production.css">
	</head>
	<body>
		<div style="padding: 15px;">
			<table border="1">
				<tr>
					<td height='30px' width="140px" style="background-color: #f8f8f8;"><span style="padding-left: 5px;">메시지</span></td>
					<td height='30px' width="450px" style="background-color: #ffffff;"><span style="padding-left: 5px;"><strong style='color:red;'>{{fm}}</strong>에서 <strong style='color:red;'>{{to}}</strong>으로 {{msg}} 되었습니다.</span></td>
				</tr>
				<tr>
					<td height='50px' width="140px" style="background-color: #f8f8f8;"><span style="padding-left: 5px;">{{msg2}}</span></td>
					<td height='50px' width="250px" style="background-color: #ffffff;"><span style="padding-left: 5px;"><strong style='color:red;'>{{reg}}</strong></span></td>
				</tr>
				<tr>
					<td align='right' colspan="2" style="padding : 15px;">
						<button class="btn btn-info" type="button" style="background :#e3e3e3; height: 30px; width: 70px;" onclick="window.close(this)">
							<span style="color: black;">확 인</span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>