<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>룰 동기화 이상</title>
		
		<link rel="shortcut icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		<link rel="icon" href="../static/lib/SmartAdmin/img/favicon/favicon.ico" type="../static/lib/SmartAdmin/image/x-icon">
		
		<link rel="stylesheet" href="../static/lib/css/Open-Sans.css">
		
		<link rel="stylesheet" href="../static/lib/css/nanumgothic.css">
		
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/lib/SmartAdmin/css/ext-theme-classic-all.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/nfvTrace.css">
		
		<script type="text/javascript" src="../static/lib/SmartAdmin/js/ext-all.js"></script>
		
		<script src="../static/lib/js/jquery-1.11.2.min.js"></script>
		<script src="../static/lib/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>
		<script src="../static/js/ruleCompareError.js"></script>
		<script type="text/javascript">
			var orgs = "{{orgs}}";
			var ts = "{{ts}}";
		</script>
	</head>
	<body>
	</body>
</html>